<div class="row mb-3" *ngIf="importSelection()">
  <div class="col-lg-2" *ngIf="selectedQueue">
    <button class="btn btn-info label-with-material-icon"
      routerLink="/staff/cat/vandelay/queue/{{recordType}}/{{selectedQueue.id}}">
      <span class="material-icons">arrow_back</span>
      <span i18n>Return to Queue</span>
    </button>
  </div>
</div>

<eg-alert-dialog #dupeQueueAlert i18n-dialogBody 
  dialogBody="A queue with the requested name already exists.">
</eg-alert-dialog>

<h2 i18n>MARC File Upload</h2>
<div class="common-form striped-odd form-validated ms-3 me-3">
  <div class="row">
    <div class="col-lg-3">
      <label class="form-label" for="template-select" i18n>Apply/Create Form Template</label>
    </div>
    <div class="col-lg-3">
      <eg-combobox #formTemplateSelector
        domId="template-select"
        (onChange)="templateSelectorChange($event)"
        [allowFreeText]="true"
        [startId]="selectedTemplate"
        [startIdFiresOnChange]="true"
        [entries]="formatTemplateEntries()"
        placeholder="Apply or Create Form Template..." i18n-placeholder>
      </eg-combobox>
    </div>
    <div class="col-lg-6">
      <button class="btn btn-success"
        [disabled]="!selectedTemplate"
        (click)="saveTemplate()" i18n>Save As New Template</button>
      <button class="btn btn-outline-primary ms-3"
        [disabled]="!selectedTemplate"
        (click)="markTemplateDefault()" i18n>Mark Template as Default</button>
      <button class="btn btn-danger ms-3"
        [disabled]="!selectedTemplate"
        (click)="deleteTemplate()" i18n>Delete Template</button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <label class="form-label" for="type-select" i18n>Record Type</label>
    </div>
    <div class="col-lg-3">
      <eg-combobox #recordTypeSelector
        domId="type-select"
        (onChange)="selectEntry($event, 'recordType')"
        [disabled]="importSelection()" [required]="true"
        [startId]="recordType" placeholder="Record Type..." i18n-placeholder>
        <eg-combobox-entry entryId="bib" entryLabel="Bibliographic Records" 
          i18n-entryLabel></eg-combobox-entry>
        <eg-combobox-entry entryId="authority" entryLabel="Authority Records" 
          i18n-entryLabel></eg-combobox-entry>
        <eg-combobox-entry entryId="bib-acq" entryLabel="Acquisitions Records" 
          i18n-entryLabel></eg-combobox-entry>
      </eg-combobox>
    </div>
    <div class="col-lg-3">
      <label class="form-label" for="source-select" i18n>Select a Record Source</label>
    </div>
    <div class="col-lg-3">
      <eg-combobox #bibSourceSelector
        domId="source-select"
        [entries]="formatEntries('bibSources')" 
        (onChange)="selectEntry($event, 'bibSources')"
        [startId]="selectedBibSource"
        placeholder="Record Source..." i18n-placeholder>
      </eg-combobox>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <label class="form-label" for="queue-select" i18n>Select or Create a Queue</label>
    </div>
    <div class="col-lg-3">
      <eg-combobox [entries]="formatEntries('activeQueues')"
        #queueSelector
        domId="queue-select"
        [startId]="startQueueId"
        [startIdFiresOnChange]="true"
        [disabled]="startQueueId"
        (onChange)="selectedQueue=$event" i18n-placeholder
        [required]="true"
        [allowFreeText]="true" placeholder="Select or Create a Queue...">
      </eg-combobox>
    </div>
    <div class="col-lg-3">
      <label class="form-label" for="bucket-select" i18n>Limit Matches to Bucket</label>
    </div>
    <div class="col-lg-3">
      <eg-combobox [entries]="formatEntries('bibBuckets')" 
        #bucketSelector
        domId="bucket-select"
        [startId]="selectedBucket"
        [disabled]="(selectedQueue && !selectedQueue.freetext) || importSelection()"
        (onChange)="selectEntry($event, 'bibBuckets')"
        placeholder="Buckets..." i18n-placeholder></eg-combobox>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <label class="form-label" for="match-set-select" i18n>Record Match Set</label>
    </div>
    <div class="col-lg-3">
      <eg-combobox #matchSetSelector
        domId="match-set-select"
        [entries]="formatEntries('matchSets')" 
        [disabled]="(selectedQueue && !selectedQueue.freetext) || importSelection()"
        [startId]="selectedMatchSet || defaultMatchSet"
        (onChange)="selectEntry($event, 'matchSets')"
        placeholder="Match Set..." i18n-placeholder></eg-combobox>
    </div>
    <div class="col-lg-3">
        <label class="form-label" for="import-non-matching" i18n>Import Non-Matching Records</label>
    </div>
    <div class="col-lg-3">
      <input class="form-check-input" type="checkbox" 
        id="import-non-matching"
        [(ngModel)]="importNonMatching">
    </div>
 </div>
  <div class="row">
    <div class="col-lg-3">
      <label class="form-label" for="item-import-def" i18n>Holdings Import Profile</label>
    </div>
    <div class="col-lg-3"> <!-- TODO disable for authority -->
      <eg-combobox #holdingsProfileSelector
        domId="item-import-def"
        [entries]="formatEntries('importItemDefs')"
        [startId]="selectedHoldingsProfile"
        [disabled]="(selectedQueue && !selectedQueue.freetext) || importSelection()"
        (onChange)="selectEntry($event, 'importItemDefs')"
        placeholder="Holdings Import Profile..." i18n-placeholder>
      </eg-combobox>
    </div>
    <div class="col-lg-3">
        <label class="form-label" for="merge-on-exact" i18n>Merge On Exact Match (901c)</label>
    </div>
    <div class="col-lg-3">
      <input class="form-check-input" type="checkbox" 
        id="merge-on-exact" [(ngModel)]="mergeOnExact">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <label class="form-label" for="merge-profiles" i18n>Merge Profile</label>
    </div>
    <div class="col-lg-3">
      <eg-combobox #mergeProfileSelector
        domId="merge-profiles"
        [entries]="formatEntries('mergeProfiles')"
        (onChange)="selectEntry($event, 'mergeProfiles')"
        placeholder="Merge Profile..." i18n-placeholder>
      </eg-combobox>
    </div>
    <div class="col-lg-3">
        <label class="form-label" for="merge-on-single" i18n>Merge On Single Match</label>
    </div>
    <div class="col-lg-3">
      <input class="form-check-input" type="checkbox" 
        id="merge-on-single" [(ngModel)]="mergeOnSingleMatch">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <label class="form-label" for="insuff-merge-profiles" i18n>
        Insufficient Quality Fall-Through Profile
    </label>
    </div>
    <div class="col-lg-3">
      <eg-combobox #fallThruMergeProfileSelector
        domId="insuff-merge-profiles"
        [entries]="formatEntries('mergeProfiles')"
        (onChange)="selectEntry($event, 'FallThruMergeProfile')"
        placeholder="Fall-Through Merge Profile..." i18n-placeholder>
      </eg-combobox>
    </div>
    <div class="col-lg-3">
      <label class="form-label" for="merge-on-best" i18n>Merge On Best Match</label>
    </div>
    <div class="col-lg-3">
      <input class="form-check-input" type="checkbox" 
        id="merge-on-best" [(ngModel)]="mergeOnBestMatch">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <label class="form-label" for="min-quality-ratio" i18n>
        Best/Single Match Minimum Quality Ratio
      </label>
    </div>
    <div class="col-lg-3">
      <input type="number" step="0.1" id="min-quality-ratio" 
        class="form-control" [(ngModel)]="minQualityRatio">
    </div>
    <div class="col-lg-3">
      <label class="form-label" for="auto-overlay-acq-copies" i18n>
        Auto-overlay In-process Acquisitions Items
      </label>
    </div>
    <div class="col-lg-3">
      <input class="form-check-input" type="checkbox" 
        id="auto-overlay-acq-copies"
        [disabled]="recordType === 'authority'"
        [(ngModel)]="autoOverlayAcqCopies">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <label class="form-label" for="session-name" i18n>Optional Session Name:</label>
    </div>
    <div class="col-lg-3">
      <input [(ngModel)]="sessionName" class="form-control" type="text"
        name="session-name" i18n-placeholder placeholder="Session Name..."/>
    </div>
    <div class="col-lg-3">
      <label class="form-label" for="auto-overlay-on-order-copies" i18n>
        Auto-overlay On-order Cataloging Items
      </label>
    </div>
    <div class="col-lg-3">
      <input class="form-check-input" type="checkbox" 
        id="auto-overlay-on-order-copies"
        [disabled]="recordType === 'authority'"
        [(ngModel)]="autoOverlayOnOrderCopies">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <label class="form-label" for="marc-remove-groups" i18n>Remove MARC Field Groups</label>
    </div>
    <ng-container *ngIf="recordType !== 'authority'">
      <div class="col-lg-3" *ngIf="bibTrashGroups.length === 0">
        <span i18n class="fst-italic">No Groups Configured</span>
      </div>
      <div class="col-lg-3" *ngIf="bibTrashGroups.length">
        <select multiple [(ngModel)]="selectedTrashGroups" 
          id="marc-remove-groups" class="form-control" size="3">
          <option *ngFor="let grp of bibTrashGroups" 
            value="{{grp.id()}}">{{grp.label()}}</option>
        </select>
      </div>
    </ng-container>
    <div class="col-lg-3">
      <label class="form-label" for="auto-overlay-org-unit-copies" i18n>
        Use Org Unit Matching in Copy to Determine Best Match
      </label>
    </div>
    <div class="col-lg-3">
      <input class="form-check-input" type="checkbox" 
        id="auto-overlay-org-unit-copies"
        [disabled]="recordType === 'authority'"
        [(ngModel)]="autoOverlayOrgUnitCopies">
    </div>
  </div>
  <div class="row" *ngIf="!importSelection()">
    <div class="col-lg-3">
      <label class="form-label" for="upload-file" i18n>File to Upload:</label>
    </div>
    <div class="col-lg-3">
      <input #fileSelector (change)="fileSelected($event)" 
        id="upload-file" required class="form-control" type="file"/>
    </div>
  </div>
  <div class="row" *ngIf="importSelection()">
    <div class="col-lg-3">
      <label class="form-label">Import Selected</label>
    </div>
    <div class="col-lg-3">
      <span *ngIf="!importSelection().importQueue" i18n>
        Importing {{importSelection().recordIds.length}} Record(s)</span>
      <span *ngIf="importSelection().importQueue" i18n>
        Importing Queue {{importSelection().queue.name()}}</span>
    </div>
    <div class="col-lg-3">
      <button class="btn btn-outline-info ms-2" (click)="clearSelection()" i18n>
        Clear Selection
      </button>
    </div>
  </div>
  <div class="row">
    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-success btn-lg fw-bold"
        [disabled]="isUploading || !hasNeededData()" 
        (click)="upload()" i18n>Upload</button>
    </div>
  </div>
  <!-- hide instead of *ngIf so ViewChild can find the progress bars -->
  <div class="row" [hidden]="!showProgress || importSelection()">
    <div class="col-lg-3">
      <label class="form-label" i18n>Upload Progress</label>
    </div>
    <div class="col-lg-6">
      <eg-progress-inline #uploadProgress></eg-progress-inline>
    </div>
  </div>
  <div class="row" [hidden]="!showProgress || importSelection()">
    <div class="col-lg-3">
      <label class="form-label" i18n>Enqueue Progress</label>
    </div>
    <div class="col-lg-6">
      <eg-progress-inline #enqueueProgress></eg-progress-inline>
    </div>
  </div>
  <div class="row" [hidden]="!showProgress">
    <div class="col-lg-3">
      <label class="form-label" i18n>Import Progress</label>
    </div>
    <div class="col-lg-6">
      <eg-progress-inline #importProgress></eg-progress-inline>
    </div>
  </div>
  <div class="row" [hidden]="!uploadComplete">
    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-info btn-lg fw-bold"
        routerLink="/staff/cat/vandelay/queue/{{recordType}}/{{activeQueueId}}"
        i18n>Go To Queue</button>
    </div>
  </div>
</div>


