[%-

    PROCESS "opac/parts/header.tt2";
    PROCESS "opac/parts/misc_util.tt2";
    PROCESS "opac/parts/org_selector.tt2";
    WRAPPER "opac/parts/base.tt2";
    INCLUDE "opac/parts/topnav.tt2";

    ctx.page_title = l("Browse Courses");
    blimit = CGI.param('blimit') || ctx.opac_hits_per_page || 10;
    display_idx = CGI.param('didx') || ctx.match_idx || 0;

    upper_limit = 0;
    lower_limit = 0;
    depart_list = ['blimit', 'bterm', 'bpivot'];
    ctx.metalinks.push('<meta name="robots" content="noindex,follow">');
%]

<h2 class="sr-only">[% l('Course Browse') %]</h2>

<div id="content-wrapper" class="my-5">
  <div class="container mx-auto w-75">
    <div id="browse-for-courses">
      <div id="browse-controls" class='row'>
        <form method="get" onsubmit="$('browse-submit-spinner').className = ''; return true" class="mx-auto">
          <input type="hidden" name="blimit"
            value="[% blimit | html %]" />
          [% control_qtype = INCLUDE "opac/parts/course_search/qtype_selector.tt2"
            id="browse-search-class" browse_only=1 plural=1 %]

          [% control_bterm = BLOCK %]
            <input type="text" name="bterm" id="browse-term" 
              aria-label="[% l('Browse term') %]"
              value="[% CGI.param('bterm') | html %]">
          [% END; #control_bterm BLOCK %]

          [% control_locg = INCLUDE build_org_selector id='browse-context'
            show_log_groups=1 arialabel=l('Select owning Library') %]

          [% l('Browse for [_1] starting with [_2] in [_3]',
              control_qtype, control_bterm, control_locg) %]

          <button id='search-submit-go' type="submit" class="btn btn-confirm my-2"><i class="fas fa-book-reader" aria-hidden="true"></i> [% l('Browse') %]</button>
          <img id="browse-submit-spinner" class="hidden"
            style="width: 16px; height: 16px;"
            alt="[% l('Search in progress icon') %]"
            src="[% ctx.media_prefix %]/opac/images/progressbar_green.gif[% ctx.cache_key %]" />
        </form>
      </div>

      [% BLOCK browse_pager %]
        [%
            pivot_lower = CGI.param('didx') - blimit;
            pivot_higher = CGI.param('didx') + blimit;
            IF pivot_lower < 0;
                pivot_lower = 0;
            END;
            IF CGI.param('didx') <= 0;
                lower_limit = 1;
            ELSE;
                lower_limit = 0;
            END;

            IF pivot_higher > ctx.browse_results.size;
                pivot_higher = ctx.browse_results.size - (blimit + 1);
                upper_limit = 1;
            ELSE;
                upper_limit = 0;
            END;
        %]
        [% IF ctx.browse_results.size >= blimit %]
        <div class="browse-pager">
            [% IF lower_limit == 0 %]
            <a class="btn btn-opac" href="[% mkurl('', {didx => pivot_lower}) %]"
              onclick="$('browse-pager-spinner-[% id %]').className = '';"
            >&larr; [%l ('Back') %]</a>
            [% END %]
            [% IF upper_limit == 0 %]
            <a class="btn btn-opac" href="[% mkurl('', {didx => pivot_higher}) %]"
              onclick="$('browse-pager-spinner-[% id %]').className = '';"
            >[%l ('Next') %] &rarr;</a>
            [% END %]
          <img id="browse-pager-spinner-[% id %]" 
            src="[% ctx.media_prefix %]/opac/images/progressbar_green.gif[% ctx.cache_key %]"
            class="hidden" style="width: 16px; height: 16px;" 
            alt="[% l('Search in progress icon') %]" />
        </div>
        [% END %]
      [% END %]

      [% PROCESS browse_pager id=0 %]

      <div id="browse-results">
        [% IF ctx.browse_error %]
          <span class="browse-error">
            [% l("An error occurred browsing records. " _
              "Please try again in a moment or report the issue " _
              "to library staff.") %]
          </span>
        [% ELSE %]
          [% IF ctx.browse_leading_article_warning %]
            <div class="browse-leading-article-warning">
              [% l("Your browse term seems to begin with an article (a, an, the). You might get better results by omitting the article.") %]
              [% IF ctx.browse_leading_article_alternative %]
                <p>[% alternative_link = BLOCK %]
                  <a href="[% mkurl('', {bterm => ctx.browse_leading_article_alternative}, ['bpivot']) %]">[% ctx.browse_leading_article_alternative | html %]</a>
                [%-  END; # alternative_link BLOCK
                l("Did you mean [_1]?", alternative_link);
              END # IF %]
              </p>
            </div>
          [% END # IF browse leading article warning %]

          <ul class="browse-result-list">
          [% FOR result IN ctx.browse_results %]
            [% IF result.browse_index >= CGI.param('didx') &&
              result.browse_index <= (CGI.param('didx') + blimit - 1) %]
            <li class="browse-result">
              <span class="browse-result-value[% result.match == 1 ? ' browse-result-best-match' : '' %]">
                [% IF result.results_count > 0 %]
                  <a href="[% mkurl(ctx.opac_root _ '/course/results', {
                    'query' => result.value, 'bool' => 'and'}
                  )%]">[% result.value | html %]</a>
                  <span class="browse-result-sources">([%
                    IF result.accurate == 'f';
                      l("At least"); " ";
                    END; #result.accurate IF
                  result.results_count %])</span>
                [% ELSE %]
                  [% result.value | html %]
                [% END; #result.sources IF %]
              </span>
            </li>
            [% END %]
          [% END; #result in browse_results %]
          </ul>
        [% END; #browse error ELSE %]
      </div>

      [% PROCESS browse_pager id=1 %]
    </div>

    <div class="common-full-pad"></div>
  </div>
</div>

[% END %]
