<eg-bucket-dialog #addBasketToBucketDialog>
</eg-bucket-dialog>

<eg-progress-dialog #addAllProgress></eg-progress-dialog>

<div class="d-flex justify-content-end">
  <div class="pe-1">
    <div class="float-end">
      <!-- note basket view link does not propagate search params -->
      <a routerLink="/staff/catalog/search" [queryParams]="{showBasket: true}" 
        class="label-with-material-icon">
        <span class="material-icons">shopping_basket</span>
        <span i18n>({{basketCount()}})</span>
      </a>
    </div>
  </div>
  <div class="pe-1">
    <div ngbDropdown placement="bottom-right">
      <button class="btn btn-light" id="basketActions"
        ngbDropdownToggle i18n>Basket Actions</button>
      <div ngbDropdownMenu aria-labelledby="basketActions">
        <button class="dropdown-item" [disabled]="isMetarecordSearch()"
          (click)="applyAction('add_all')" i18n>Add All Search Results</button>
        <button class="dropdown-item" [disabled]="!basketCount()"
          (click)="applyAction('view')" i18n>View Basket</button>
        <button class="dropdown-item" [disabled]="!basketCount()"
          (click)="applyAction('hold')" i18n>Place Hold</button>
        <button class="dropdown-item" [disabled]="!basketCount()"
          (click)="applyAction('print')" i18n>Print Title Details</button>
        <button class="dropdown-item" [disabled]="!basketCount()"
          (click)="applyAction('email')" i18n>Email Title Details</button>
        <button class="dropdown-item" [disabled]="!basketCount()"
          (click)="applyAction('bucket')" i18n>Add Basket to Bucket</button>
        <button class="dropdown-item" [disabled]="!basketCount()"
          (click)="applyAction('export_marc')" i18n>Export Records</button>
        <button class="dropdown-item" [disabled]="!basketCount()"
          (click)="applyAction('clear')" i18n>Clear Basket</button>
      </div>
    </div>
  </div>
  <div>
    <!-- Note this Prefernces links is not specific to Basket handling,
        but it's here since it allowed for consistent formatting -->
    <a routerLink="/staff/catalog/prefs" queryParamsHandling="merge">
      <button class="btn btn-light" i18n>Search Preferences</button>
    </a>
  </div>
</div>
