<!-- Flex values are set to align with lineitem copies UI 
    and the batch copy editor component -->

<div class="div d-flex batch-copy-row" *ngIf="copy">
  <div class="pe-1 pt-2 text-secondary">
    <!-- ensure the rowIndex for the first 100 copies vertically
         aligns with an invisible 0 for 1..9 -->
    {{rowIndex}}<span *ngIf="rowIndex < 10" class="invisible">0</span>
  </div>
  <div class="flex-1 p-1">
    <eg-org-select #owningLibSelect placeholder="Owning Branch..." 
      i18n-placeholder [readOnly]="fieldIsDisabled('owning_lib')"
      [applyOrgId]="copy.owning_lib()"
      [limitPerms]="['CREATE_PICKLIST','CREATE_PURCHASE_ORDER']"
      (onChange)="valueChange('owning_lib', $event)">
    </eg-org-select>
  </div>  
  <div class="flex-1 p-1">
    <eg-item-location-select [readOnly]="fieldIsDisabled('location')"
      #locationSelector [ngModel]="copy.location()" [startsWith]="true"
      [contextOrgId]="copy.owning_lib()" [loadAsync]="false"
      (valueChange)="valueChange('location', $event)"
      permFilter="CREATE_PICKLIST" [showUnsetString]="false">
    </eg-item-location-select>
  </div>
  <div class="flex-1 p-1">
    <ng-container *ngIf="fieldIsDisabled('collection_code')">
      <span>{{copy.collection_code()}}</span>
    </ng-container>
    <ng-container *ngIf="!fieldIsDisabled('collection_code')">
      <input type="text" class="form-control" 
        placeholder="Collection Code..." i18n-placeholder 
        (ngModelChange)="valueChange('collection_code', $event)"
        [ngModel]="copy.collection_code()"/>
    </ng-container>
  </div>
  <div class="flex-1 p-1">
    <eg-combobox idlClass="acqf" placeholder="Fund..." i18n-placeholder
      [readOnly]="fieldIsDisabled('fund')"
      [asyncSupportsEmptyTermClick]="true"
      #fundSelector [entries]="fundEntries"
      [displayTemplate]="fundTmpl"
      [selectedId]="copy.fund()" (onChange)="valueChange('fund', $event)"
      [idlQuerySort]="{acqf: 'year DESC, code'}"
      [idlQueryAnd]="{org: owners, active: 't'}">
    </eg-combobox>
  </div>
  <div class="flex-1 p-1">
    <eg-combobox idlClass="ccm" placeholder="Circ Modifier..." i18n-placeholder
      [readOnly]="fieldIsDisabled('circ_modifier')"
      #circModSelector [entries]="circModEntries"
      [asyncSupportsEmptyTermClick]="true"
      [selectedId]="copy.circ_modifier()"
      (onChange)="valueChange('circ_modifier', $event)">
    </eg-combobox>
  </div>
  <div class="flex-1 p-1" *ngIf="!batchAdd && !gatherParamsOnly">
    <ng-container *ngIf="fieldIsDisabled('cn_label')">
      <span>{{copy.cn_label()}}</span>
    </ng-container>
    <ng-container *ngIf="!fieldIsDisabled('cn_label')">
      <input type="text" class="form-control" 
        placeholder="Call Number..." i18n-placeholder
        [ngModel]="copy.cn_label()" 
        (ngModelChange)="valueChange('cn_label', $event)">
    </ng-container>
  </div>
  <div class="flex-1 p-1">
    <ng-container *ngIf="batchMode">
      <button class="btn btn-outline-dark" 
        (click)="batchApplyRequested.emit(copy)" i18n>Batch Update</button>
    </ng-container>
    <ng-container *ngIf="!batchMode && !batchAdd && !gatherParamsOnly">
      <ng-container *ngIf="fieldIsDisabled('barcode')">
        <span>{{copy.barcode()}}</span>
      </ng-container>
      <ng-container *ngIf="!fieldIsDisabled('barcode')">
        <input type="text" class="form-control" 
          [disabled]="fieldIsDisabled('barcode')" [ngModel]="copy.barcode()" 
          placeholder="Barcode..." i18n-placeholder
          (ngModelChange)="valueChange('barcode', $event)">
      </ng-container>
    </ng-container>
  </div>
  <div class="flex-1 p-1" *ngIf="showReceiver">
    {{copy.receiver()?.usrname()}}
  </div>
  <ng-container *ngIf="!embedded && !gatherParamsOnly">
    <div class="flex-2 p-1 pe-2 ps-2">
      <ng-container *ngIf="!batchMode">
        <ng-container *ngIf="disposition() === 'pre-order'">
          <button
            class="btn btn-outline-danger material-icon-button"
            (click)="deleteRequested.emit(copy)" title="Delete Item" i18n-title>
            <span class="material-icons">delete</span>
          </button>
        </ng-container>
        <ng-container *ngIf="disposition() === 'on-order' || disposition() === 'delayed'">
          <a href="javascript:;" (click)="receiveRequested.emit(copy)" i18n>Mark Received</a>
        </ng-container>
        <ng-container *ngIf="disposition() === 'received'">
          <a href="javascript:;" (click)="unReceiveRequested.emit(copy)" i18n>Un-Receive</a>
        </ng-container>
        <ng-container *ngIf="disposition() === 'on-order'">
          <a href="javascript:;" class="ms-2" (click)="cancelRequested.emit(copy)" i18n>Cancel</a>
        </ng-container>
        <ng-container *ngIf="disposition() === 'delayed'">
          &nbsp;<a href="javascript:;" (click)="cancelRequested.emit(copy)" i18n>Cancel</a>
        </ng-container>
        <ng-container *ngIf="disposition() === 'delayed'">
          <span class="fst-italic ms-2" title="{{copy.cancel_reason().description()}}">
            {{copy.cancel_reason().label()}}
          </span>
        </ng-container>
        <ng-container *ngIf="disposition() === 'canceled'">
          <span class="fst-italic" title="{{copy.cancel_reason().description()}}">
            {{copy.cancel_reason().label()}}
          </span>
        </ng-container>

      </ng-container>
    </div>
  </ng-container>
</div>

<ng-template #fundTmpl let-r="result" i18n>
  <span [ngClass]="{'fund-balance-state-stop': checkFundBalance(r.fm.id()) === 'stop',
                    'fund-balance-state-warning': checkFundBalance(r.fm.id()) === 'warning'}">{{r.label}}</span>
</ng-template>
