
.jacket-wrapper {
  width: 70px;
}
.jacket {
  width: 65px;
}

input[type="text"].form-control-sm { border-width: 1px; }

.toolbar .form-check-label {
  font-size: 115%;
}

.batch-copy-row:nth-child(even) {
  background-color: rgba(0,0,0,.03);
}

/* Kind of hacky -- only way to get a toolbar button with no 
 * mat icon to line up horizontally with mat icon buttons */
.toolbar .text-button {
  padding-top: 11px;
  padding-bottom: 11px;
}


.li-state-new { background-color: #FFFFEE; }
.li-state-selector-ready { background-color: #FFEEEE; }
.li-state-order-ready { background-color: #EEEEEE; }
.li-state-pending-order { background-color: #EEEEDD; }
.li-state-on-order { background-color: #EEDDDD; }
.li-state-received { background-color: #DDDDDD; }
.li-state-delayed { background-color: #B3D9FF; }
