
<div class="shadow border-top w-100">

  <div class="p-1 m-1 form-inline">
    <input type="text" class="form-control form-control-sm" id="note-text-input"
      [(ngModel)]="noteText" placeholder="Note Text" i18n-placeholder/>
    <div class="form-check ms-2">
      <input class="form-check-input" type="checkbox" 
        [(ngModel)]="vendorPublic" id="vendor-public-cbox">
      <label class="form-label form-check-label" for="vendor-public-cbox" i18n>
        Vendor Public
      </label>
    </div>
    <button class="btn btn-sm btn-success ms-2" [disabled]="!noteText" 
      (click)="newNote()" i18n>Create Note</button>
    <div class="ms-3 me-3">|</div>
      <eg-combobox idlClass="acqliat" [(ngModel)]="alertEntry" 
        [asyncSupportsEmptyTermClick]="true"
        i18n-placeholder placeholder="Alert type">
      </eg-combobox>
    <span class="ms-2">
    <input type="text" class="form-control form-control-sm" id="note-text-input"
      [(ngModel)]="alertComments" placeholder="Alert Comments" i18n-placeholder/>
    </span>
    <span class="ms-2">
      <eg-combobox idlClass="acqliat" [(ngModel)]="alertEntry" 
        [asyncSupportsEmptyTermClick]="true">
      </eg-combobox>
    </span>
    <button class="btn btn-sm btn-success ms-2" [disabled]="!alertEntry" 
      (click)="newNote(true)" i18n>Create Alert</button>
    <a class="ms-auto" href="javascript:;" (click)="close()" title="Close" i18n-title>
      <span class="material-icons text-danger">close</span>
    </a>
  </div>

  <div *ngFor="let note of lineitem.lineitem_notes()">
    <div class="d-flex m-1 p-2 border">
      <div class="flex-1 p-1">
        <ng-container *ngIf="note.vendor_public() === 't'">
          <div class="text-primary" i18n>VENDOR PUBLIC</div>
        </ng-container>
        <ng-container *ngIf="note.alert_text()">
          <span class="text-danger" i18n>
            [{{orgSn(note.alert_text().owning_lib())}}] {{note.alert_text().code()}}
          </span>
        </ng-container>
      </div>
      <div class="flex-5 ms-2 p-1">{{note.value()}}</div>
      <div class="ms-2 p-1">{{note.create_time() | date:'short'}}</div>
      <div class="ms-2 p-1">
        <a href="javascript:;" class="text-danger" 
          (click)="deleteNote(note)" i18n>Delete</a>
      </div>
    </div>
  </div>
</div>



