<div class="sr-field-container">

  <div class="sr-field{{ withSelect === true ? '-select' : '' }}" (click)="selectAction()">

    <div *ngIf="withSelect" class="sr-field-select col-md-1">
      <input (change)="selectAction()" (click)="selectAction()" class="sr-checkbox" type="checkbox"
        id="chk{{field.name}}" checked="{{ selected === true ? 'checked' : '' }}" />
    </div>

    <div *ngIf="withDeselect" class="sr-field-deselect col-md-1">
      <button class="btn btn-sm material-icon-button p-1 sr-checkbox" title="Un-Select Field" (click)="deselectAction()" title-i18n>
        <span class="material-icons">remove_circle_outline</span></button>
    </div>

    <div *ngIf="withAlias" class="sr-field-name col-md-auto">
      <span class="sr-field-explainer" i18n>Name</span>
      <input class="form-control" type="textbox" [disabled]="!editAlias" [(ngModel)]="field.alias" />
      <span *ngIf="field.alias !== field.label" class="sr-field-explainer">({{field.label}})</span>
    </div>
    <div *ngIf="!withAlias" class="sr-field-name col-md-auto">
      <span *ngIf="withTransforms || withOperators || withValueInput" class="sr-field-explainer"><br /></span>
      <label *ngIf="withSelect" (click)="selectAction()"  class="form-label sr-field-label" for="chk{{field.name}}">{{field.label}}</label>
      <label *ngIf="!withSelect"  class="form-label sr-field-label">{{field.label}}</label>
    </div>

    <div *ngIf="withTransforms || withOperators" class="sr-field-xform col-md-3">

      <div *ngIf="withTransforms">
        <span class="sr-field-explainer" i18n>Transform</span>
        <select class="form-select" (change)="transformChange($event)" [disabled]="field.force_transform">
          <option *ngFor="let t of transforms" value="{{t.name}}" selected="{{ field.transform.name === t.name ? 'selected' : '' }}">
            <span *ngIf="t.name === 'Bare'" i18n>Raw Data</span>
            <span *ngIf="t.name === 'upper'" i18n>Upper Case</span>
            <span *ngIf="t.name === 'lower'" i18n>Lower Case</span>
            <span *ngIf="t.name === 'substring'" i18n>Substring</span>
            <span *ngIf="t.name === 'day_name'" i18n>Day Name</span>
            <span *ngIf="t.name === 'month_name'" i18n>Month Name</span>
            <span *ngIf="t.name === 'doy'" i18n>Day of Year</span>
            <span *ngIf="t.name === 'woy'" i18n>Week of Year</span>
            <span *ngIf="t.name === 'moy'" i18n>Month of Year</span>
            <span *ngIf="t.name === 'qoy'" i18n>Quarter of Year</span>
            <span *ngIf="t.name === 'dom'" i18n>Day of Month</span>
            <span *ngIf="t.name === 'dow'" i18n>Day of Week</span>
            <span *ngIf="t.name === 'year_trunc'" i18n>Year</span>
            <span *ngIf="t.name === 'month_trunc'" i18n>Month</span>
            <span *ngIf="t.name === 'date_trunc'" i18n>Date</span>
            <span *ngIf="t.name === 'hour_trunc'" i18n>Hour</span>
            <span *ngIf="t.name === 'quarter'" i18n>Quarter</span>
            <span *ngIf="t.name === 'months_ago'" i18n>Months Ago</span>
            <span *ngIf="t.name === 'hod'" i18n>Hour of Day</span>
            <span *ngIf="t.name === 'quarters_ago'" i18n>Quarters Ago</span>
            <span *ngIf="t.name === 'age'" i18n>Age</span>
            <span *ngIf="t.name === 'first'" i18n>First Value</span>
            <span *ngIf="t.name === 'last'" i18n>Last Value</span>
            <span *ngIf="t.name === 'min'" i18n>Minimum Value</span>
            <span *ngIf="t.name === 'max'" i18n>Maximum Value</span>
            <span *ngIf="t.name === 'count'" i18n>Count</span>
            <span *ngIf="t.name === 'count_distinct'" i18n>Count</span>{{ '' // This is currently the only Count transform offered; if that's changed this will need its 'Distinct' back. }}
            <span *ngIf="t.name === 'sum'" i18n>Sum</span>
            <span *ngIf="t.name === 'average'" i18n>Average</span>
          </option>
        </select>
      </div>

      <div *ngIf="withOperators">
        <span class="sr-field-explainer" i18n>Operator</span>
        <select class="form-select" (change)="operatorChange($event)" [disabled]="field.force_operator">
          <option *ngFor="let o of operators" value="{{o.name}}" selected="{{ field.operator.name === o.name ? 'selected' : '' }}">
            <span *ngIf="o.name === '= any'" i18n>Equals</span> {{ '' // this and the next are used for bools only }}
            <span *ngIf="o.name === '<> any'" i18n>Does Not Equal</span>
            <span *ngIf="o.name === '='" i18n>Equals</span>
            <span *ngIf="o.name === 'like'" i18n>Contains Matching Substring (Case Sensitive)</span>{{ '' // This is on hiatus along with non-distinct counting }}
            <span *ngIf="o.name === 'ilike'" i18n>Contains String</span>
            <span *ngIf="o.name === '>' && (field.transform.final_datatype || field.datatype) === 'timestamp'" i18n>After</span>
            <span *ngIf="o.name === '>' && (field.transform.final_datatype || field.datatype) !== 'timestamp'" i18n>Greater Than</span>
            <span *ngIf="o.name === '>=' && (field.transform.final_datatype || field.datatype) === 'timestamp'" i18n>On or After</span>
            <span *ngIf="o.name === '>=' && (field.transform.final_datatype || field.datatype) !== 'timestamp'" i18n>Greater Than or Equal to</span>
            <span *ngIf="o.name === '<' && (field.transform.final_datatype || field.datatype) === 'timestamp'" i18n>Before</span>
            <span *ngIf="o.name === '<' && (field.transform.final_datatype || field.datatype) !== 'timestamp'" i18n>Less Than</span>
            <span *ngIf="o.name === '<=' && (field.transform.final_datatype || field.datatype) === 'timestamp'" i18n>On or Before</span>
            <span *ngIf="o.name === '<=' && (field.transform.final_datatype || field.datatype) !== 'timestamp'" i18n>Less Than or Equal to</span>
            <span *ngIf="o.name === 'in'" i18n>In List</span>
            <span *ngIf="o.name === 'not in'" i18n>Not In List</span>
            <span *ngIf="o.name === 'between'" i18n>Between</span>
            <span *ngIf="o.name === 'not between'" i18n>Not Between</span>
            <span *ngIf="o.name === 'is'" i18n>Is Null</span>
            <span *ngIf="o.name === 'is not'" i18n>Is Not Null</span>
            <span *ngIf="o.name === 'is blank'" i18n>Is Null or Blank</span>
            <span *ngIf="o.name === 'is not blank'" i18n>Is Not Null or Blank</span>
          </option>
        </select>
      </div>

    </div>

    <div *ngIf="withValueInput" class="sr-field-value col-md-5">
      <span class="sr-field-explainer" i18n>Filter value</span>

      <div *ngIf="field.operator.name.indexOf('in') > -1">
        <div [ngSwitch]="field.transform.final_datatype || field.datatype">
          <div *ngSwitchCase="'link'">
            <eg-multi-select [linkedLibraryLabel]="field.org_filter_field" [idlBaseQuery]="linkedIdlBaseQuery" [idlClass]="field.class" [startValue]="getBracketListValue(field.filter_value)"
              (onChange)="setBracketListValue($event)">
            </eg-multi-select>
          </div>
          <div *ngSwitchCase="'org_unit'">
            <eg-multi-select [idlClass]="'aou'" [startValue]="getBracketListValue(field.filter_value)"
              (onChange)="setBracketListValue($event)">
            </eg-multi-select>
          </div>
          <div *ngSwitchDefault>
            <eg-text-multi-select [startValue]="field.filter_value"
              (onChange)="setSingleValue($event)">
            </eg-text-multi-select>
          </div>
        </div>
      </div>

      <div *ngIf="field.operator.name.indexOf('between') > -1">
        <div [ngSwitch]="field.transform.final_datatype || field.datatype">
          <div *ngSwitchCase="'interval'">
            <eg-interval-input [initialValue]="field.filter_value[0]" (onChange)="firstBetweenValue($event)"></eg-interval-input>
            <span i18n>and</span>
            <eg-interval-input [initialValue]="field.filter_value[1]" (onChange)="secondBetweenValue($event)"> </eg-interval-input>
          </div>
          <div *ngSwitchCase="'timestamp'">
            <eg-date-select [initialIso]="field.filter_value[0]" (onChangeAsIso)="firstBetweenValue($event)"></eg-date-select>
            <span i18n>and</span>
            <eg-date-select [initialIso]="field.filter_value[1]" (onChangeAsIso)="secondBetweenValue($event)"></eg-date-select>
          </div>
          <div *ngSwitchCase="'link'">{{ '' }}</div>
          <div *ngSwitchCase="'org_unit'">{{ '' }}</div>
          <div *ngSwitchCase="'bool'">{{ '' }}</div>
          <div *ngSwitchDefault>
            <input class="form-control" type="textbox" value="{{field.filter_value[0]}}" (change)="firstBetweenValue($event.target.value)" />
            <span i18n>and</span>
            <input class="form-control" type="textbox" value="{{field.filter_value[1]}}" (change)="secondBetweenValue($event.target.value)" />
          </div>
        </div>
      </div>

      <div *ngIf="field.operator.name.indexOf('between') === -1 && field.operator.name.indexOf('in') === -1 && field.operator.name.indexOf('is') === -1">
        <div [ngSwitch]="field.transform.final_datatype || field.datatype">
          <div *ngSwitchCase="'org_unit'">
            <eg-org-family-select
              (onChange)="setOrgFamilyValue($event)"
              [selectedOrgId]="field._org_family_primaryOrgId"
              [ancestorSelectorChecked]="field._org_family_includeAncestors"
              [descendantSelectorChecked]="field._org_family_includeDescendants">
            </eg-org-family-select>
          </div>
          <div *ngSwitchCase="'link'">
            <eg-combobox i18n-placeholder placeholder="Select..." idlClass="{{field.class}}"
              id="{{field.name}}-{{field.class}}-{{field.key}}"
              [idlBaseQuery]="linkedIdlBaseQuery"
              [idlIncludeLibraryInLabel]="field.org_filter_field"
              [asyncSupportsEmptyTermClick]="true"
              [selectedId]="field.filter_value"
              (onChange)="setSingleValue($event[field.key])">
            </eg-combobox>
          </div>
          <div *ngSwitchCase="'timestamp'">
            <eg-date-select [initialIso]="field.filter_value" (onChangeAsIso)="setSingleValue($event)"></eg-date-select>
          </div>
          <div *ngSwitchCase="'interval'">
            <eg-interval-input [initialValue]="field.filter_value" (onChange)="setSingleValue($event)"></eg-interval-input>
          </div>
          <div *ngSwitchCase="'bool'">
            <select class="form-select" (change)="setSingleValue($event.target.value)">
              <option selected="{{ !field.filter_value ? 'selected' : '' }}" disabled="disabled" i18n>Select one</option>
              <option value="{t}" selected="{{ field.filter_value === '{t}' ? 'selected' : '' }}" i18n>True</option>
              <option value="{f}" selected="{{ field.filter_value === '{f}' ? 'selected' : '' }}" i18n>False</option>
              <option value="{t,f}" selected="{{ (field.filter_value && (field.filter_value !== '{t}' && field.filter_value !== '{f}') ) ? 'selected' : '' }}" i18n>Both</option>
            </select>
          </div>

          <div *ngSwitchDefault>
            <input class="form-control" type="textbox" value="{{field.filter_value}}" (change)="setSingleValue($event.target.value)" />
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="withSortDirection" class="sr-field-sortdir col-md-5">
      <span class="sr-field-explainer" i18n>Direction</span>
      <select class="form-select" (change)="directionChange($event)">

        <option *ngIf="field.datatype === 'timestamp'" value="ascending" selected="{{ field.direction === 'ascending' ? 'selected' : '' }}" i18n>Later dates at the bottom</option>
        <option *ngIf="field.datatype === 'number' || field.datatype === 'int' || field.datatype === 'float' || field.datatype === 'money'"
          value="ascending" selected="{{ field.direction === 'ascending' ? 'selected' : '' }}" i18n>Larger numbers at the bottom</option>
        <option *ngIf="field.datatype !== 'timestamp' && field.datatype !== 'number' && field.datatype !== 'int' && field.datatype !== 'float' && field.datatype !== 'money'"
          value="ascending" selected="{{ field.direction === 'ascending' ? 'selected' : '' }}" i18n>Ascending (1, 2, a, b, A, B)</option>

        <option *ngIf="field.datatype === 'timestamp'" value="descending" selected="{{ field.direction === 'descending' ? 'selected' : '' }}" i18n>Later dates at the top</option>
        <option *ngIf="field.datatype === 'number' || field.datatype === 'int' || field.datatype === 'float' || field.datatype === 'money'"
          value="descending" selected="{{ field.direction === 'descending' ? 'selected' : '' }}" i18n>Larger numbers at the top</option>
        <option *ngIf="field.datatype !== 'timestamp' && field.datatype !== 'number' && field.datatype !== 'int' && field.datatype !== 'float' && field.datatype !== 'money'"
          value="descending" selected="{{ field.direction === 'descending' ? 'selected' : '' }}" i18n>Descending (B, A, b, a, 2, 1)</option>

      </select>
    </div>

    <div *ngIf="withUpDown" class="sr-field-updown col-md-2">
      <button (click)="upAction()" class="btn btn-outline-primary btn-sm" [disabled]="disableUp"><span class="material-icons">arrow_upward</span></button>
      <button (click)="downAction()" class="btn btn-outline-primary btn-sm" [disabled]="disableDown"><span class="material-icons">arrow_downward</span></button>
    </div>

  </div>

</div>
