<eg-staff-banner bannerText="Manage Reservations" i18n-bannerText>
</eg-staff-banner>
<eg-title i18n-prefix i18n-suffix prefix="Booking" suffix="Manage Reservations"></eg-title>

<form [formGroup]="filters" class="row">
  <div class="col-sm-3">
    <eg-org-family-select labelText="Reservation location" i18n-labelText formControlName="pickupLibraries">
    </eg-org-family-select>
  </div>
  <div class="col-sm-6 offset-sm-3">
    <div class="card">
      <h2 class="card-header" i18n>Filter reservations</h2>
      <ul ngbNav #filterTabs="ngbNav" [(activeId)]="startingTab" [keyboard]="true" [roles]="false" role="tablist" class="nav-tabs">
        <li role="presentation" [ngbNavItem]="'patron'">
          <a ngbNavLink role="tab">
            <span class="material-icons" *ngIf="patronId">filter_list</span> <span i18n>Filter by patron</span>
          </a>
          <ng-template ngbNavContent>
            <div class="m-2">
              <div class="input-group m-2">
                <input type="text" id="patron-barcode-value" class="form-control" formControlName="patronBarcode">
                <div class="input-group-button">
                  <button *ngIf="patronBarcode.value" class="btn btn-warning" (click)="removeFilters()" i18n><span class="material-icons">delete</span> Remove filter</button>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
        <li role="presentation" [ngbNavItem]="'resource'">
          <a ngbNavLink role="tab">
            <span class="material-icons" *ngIf="resourceBarcode.value">filter_list</span> <span i18n>Filter by resource</span>
          </a>
          <ng-template ngbNavContent>
            <div class="m-2">
              <div class="input-group m-2">
                  <label class="form-label input-group-text" for="resource-barcode-value" i18n>Resource barcode</label>
                <input type="text" id="resource-barcode-value" class="form-control" formControlName="resourceBarcode">
                <div class="input-group-button">
                  <button *ngIf="resourceBarcode.value" class="btn btn-warning" (click)="removeFilters()" i18n><span class="material-icons">delete</span> Remove filter</button>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
        <li role="presentation" [ngbNavItem]="'type'">
          <a ngbNavLink role="tab">
            <span class="material-icons" *ngIf="resourceTypeForGrid">filter_list</span> <span i18n>Filter by resource type</span>
          </a>
          <ng-template ngbNavContent>
            <div class="m-2">
              <div class="input-group m-2">
                  <label class="form-label input-group-text" for="resource-type-value" i18n>Resource type</label>
                <eg-combobox domId="resource-type-value" formControlName="resourceType" idlClass="brt" [asyncSupportsEmptyTermClick]="true"></eg-combobox>
                <div class="input-group-button">
                  <button class="btn btn-warning" (click)="removeFilters()" i18n><span class="material-icons">delete</span> Remove filter</button>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
      </ul>

      <div [ngbNavOutlet]="filterTabs" class="mt-2"></div>
    </div>
  </div>
</form>
<eg-reservations-grid #reservationsGrid [patron]="patronId" [resourceBarcode]="resourceBarcode.value" [resourceType]="resourceTypeForGrid" [pickupLibIds]="pickupLibrariesForGrid" persistSuffix="manage"></eg-reservations-grid>
