<eg-staff-banner
  bannerText=" {{currentCourse.course_number()}}: {{currentCourse.name()}}"
  i18n-bannerText class="mb-3" *ngIf="currentCourse"
  [bannerStyle]="(courseIsArchived || currentCourse.is_archived()) === 't' ? 'course-archived' : null"
  [bannerIcon]="(courseIsArchived || currentCourse.is_archived()) === 't' ? 'lock' : null">
</eg-staff-banner>

<div class="row">
  <div class="col text-end">
    <button class="btn btn-danger" *ngIf="currentCourse && (courseIsArchived || currentCourse.is_archived()) === 'f' "
      (click)="archiveCourse()">
      <span class="align-middle">Archive Course</span>
    </button>
    <button class="btn btn-primary"
      (click)="unarchiveCourse()" *ngIf="currentCourse && (courseIsArchived || currentCourse.is_archived()) === 't' ">
      <span class="align-middle">Unarchive Course</span>
    </button>
    <a class="btn btn-warning ms-3" routerLink="/staff/admin/local/asset/course_list" i18n>
      <i class="material-icons align-middle">keyboard_return</i>
      <span class="align-middle">Return to Course List</span>
    </a>
  </div>
</div>
<ul ngbNav #coursePageNav="ngbNav" class="nav-tabs" [keyboard]="true" [roles]="false" role="tablist">

  <!-- Edit Tab -->
  <li role="presentation" [ngbNavItem]="'edit'">
    <a role="tab" ngbNavLink i18n>Edit course</a>
    <ng-template ngbNavContent>
      <div class="row">
        <div class="col-lg-3 mt-3">
        </div>
        <div class="col-lg-6 mt-3">
          <eg-fm-record-editor displayMode="inline"
            mode="update"
            hiddenFieldsList="id,is_archived"
            idlClass="acmc"
            fieldOrder="course_number,name,owning_lib,section_number"
            [preloadLinkedValues]="true"
            [record]="currentCourse">
          </eg-fm-record-editor>
        </div>
      </div>
    </ng-template>
  </li>

  <!-- Materials Tab -->
  <li role="presentation" [ngbNavItem]="'courseMaterials'">
    <a role="tab" ngbNavLink i18n>Course materials</a>
    <ng-template ngbNavContent>
      <eg-course-associate-material-dialog [courseId]="courseId"
        [currentCourse]="currentCourse" displayMode="inline"
        [courseIsArchived]="courseIsArchived">
      </eg-course-associate-material-dialog>
    </ng-template>
  </li>

  <!-- Users Tab -->
  <li role="presentation" [ngbNavItem]="'courseUsers'">
    <a role="tab" ngbNavLink i18n>Course users</a>
    <ng-template ngbNavContent>
      <eg-course-associate-users-dialog [courseId]="courseId"
        [currentCourse]="currentCourse" displayMode="inline"
        [courseIsArchived]="courseIsArchived">
      </eg-course-associate-users-dialog>
    </ng-template>
  </li>

  <!-- Terms Tab -->
  <li role="presentation" [ngbNavItem]="'courseTerms'">
    <a role="tab" ngbNavLink i18n>Course terms</a>
    <ng-template ngbNavContent>
      <eg-course-term-map-grid [courseId]="courseId"></eg-course-term-map-grid>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="coursePageNav" class="mb-3"></div>


<eg-string #archiveFailedString i18n-text text="Archiving of Course failed or was not allowed"></eg-string>
<eg-string #archiveSuccessString i18n-text text="Archiving of Course succeeded"></eg-string>
<eg-string #unarchiveSuccessString i18n-text text="Unarchiving of Course succeeded"></eg-string>
