<eg-string #userDeleteFailedString i18n-text text="Removal of User failed or was not allowed"></eg-string>
<eg-string #userDeleteSuccessString i18n-text text="Removal of User succeeded"></eg-string>
<eg-string #userAddSuccessString i18n-text text="Addition of User succeeded"></eg-string>
<eg-string #userAddFailedString i18n-text text="Addition of User failed or was not allowed"></eg-string>
<eg-string #userEditSuccessString i18n-text text="Update of User succeeded"></eg-string>
<eg-string #userEditFailedString i18n-text text="Update of User failed or was not allowed"></eg-string>

<eg-patron-search-dialog #patronSearch>
</eg-patron-search-dialog>

<ng-template #dialogContent>
<div class="modal-header"
  [ngClass]="isDialog() ? 'modal-header' : 'alert mt-3'">
  <h4 class="modal-title" i18n>Course Users</h4>
  <ng-container *ngIf="isDialog()">
  <button type="button" class="btn-close btn-close-white"
    i18n-aria-label aria-label="Close" (click)="close()"></button>
  </ng-container>
</div>
<div [ngClass]="isDialog() ? 'modal-body' : ''">
  <div class="row">
    <div [ngClass]="isDialog() ? 'col-md-12' : 'col-md-4'">
      <div class="row" [ngClass]="isDialog() ? '' : 'mt-3'">
        <div class="d-flex"  [ngClass]="isDialog() ? 'col-md-6' : 'col-md-12'">
          <div class="input-group">
              <label for="associate-user-barcode"  class="form-label input-group-text" i18n>Patron Barcode</label>
            <input type="text" class="flex-grow-1" id="associate-user-barcode"
              [(ngModel)]="userBarcode" (click)="$event.target.select()"
              [disabled]="currentCourse && (courseIsArchived || currentCourse.is_archived()) === 't'"
              />
            <button class="btn btn-outline-dark btn-sm" (click)="searchPatrons()">
              <span class="material-icons mat-icon-in-button align-middle"
              i18n-title title="Search for Patron">search</span>
              <span class="align-middle" i18n>Search for Patron</span>
            </button>
          </div>
        </div>
        <div class="d-flex" [ngClass]="isDialog() ? 'col-md-6' : 'col-md-12 mt-3'">
          <div class="input-group">
              <label for="associate-user-role input-group-text"  class="form-label input-group-text" i18n>Role</label>
            <eg-combobox idlClass="acmr" [(ngModel)]="userRoleInput"
            [asyncSupportsEmptyTermClick]="true"
            [disabled]="currentCourse && (courseIsArchived || currentCourse.is_archived()) === 't'">
            </eg-combobox>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="text-end" [ngClass]="isDialog() ? 'col-md-2' : 'col-md-6'">
          <button class="btn btn-primary"
            [disabled]="currentCourse && (courseIsArchived || currentCourse.is_archived()) === 't'"
            i18n [disabled]="!userBarcode" (click)="associateUser(userBarcode)">
            Add User
          </button>
        </div>
      </div>
    </div>
    <div class="mt-3" [ngClass]="isDialog() ? 'col-md-12' : 'col-md-8'">
      <eg-grid #usersGrid [dataSource]="usersDataSource" [useLocalSort]="true">
        <eg-grid-toolbar-action label="Remove Selected" i18n-label (onClick)="deleteSelectedUsers($event)">
        </eg-grid-toolbar-action>
        <eg-grid-toolbar-action label="Edit Selected" i18n-label (onClick)="editSelectedUsers($event)">
        </eg-grid-toolbar-action>
        <eg-grid-column label="User ID" path="usr.id" [index]=true [hidden]="true" i18n-label></eg-grid-column>
        <eg-grid-column label="First Name" path="usr.first_given_name" i18n-label></eg-grid-column>
        <eg-grid-column label="Second Name" path="usr.second_given_name" i18n-label></eg-grid-column>
        <eg-grid-column label="Last Name" path="usr.family_name" i18n-label></eg-grid-column>
        <eg-grid-column label="Prefix" path="usr.pref_prefix" [hidden]="true" i18n-label></eg-grid-column>
        <eg-grid-column label="Preferred First Name" path="usr.pref_first_given_name"[hidden]="true"  i18n-label></eg-grid-column>
        <eg-grid-column label="Preferred Second Name" path="usr.pref_second_given_name"[hidden]="true"  i18n-label></eg-grid-column>
        <eg-grid-column label="Preferred Family Name" path="usr.pref_family_name"[hidden]="true"  i18n-label></eg-grid-column>
        <eg-grid-column label="Preferred Suffix" path="usr.pref_suffix" [hidden]="true" i18n-label></eg-grid-column>
        <eg-grid-column label="User Role" path="usr_role.name" i18n-label></eg-grid-column>
        <eg-grid-column label="Viewable on OPAC" path="usr_role.is_public" i18n-label datatype="bool"></eg-grid-column>
      </eg-grid>
    </div>
  </div>
</div>
</ng-template>

<ng-container *ngIf="!isDialog()">
  <!-- in "inline" mode, render the grid pane right here -->
  <ng-container *ngTemplateOutlet="dialogContent">
  </ng-container>
</ng-container>

<eg-fm-record-editor #editDialog
  idlClass='acmcu'
  [fieldOptions]="{course: {linkedSearchField: 'course_number'}}"
  [preloadLinkedValues]="true"
  hiddenFields="id,usr">
</eg-fm-record-editor>
