<eg-string key="circ.patron.edit.test_notify.success" 
  i18n-text text="Test Notification Sent"></eg-string>
<eg-string key="circ.patron.edit.test_notify.fail" 
  i18n-text text="Test Notification Failed to Send"></eg-string>
<eg-string key="circ.patron.edit.invalidate.success" 
  i18n-text text="Field Invalidation Succeeded"></eg-string>
<eg-string key="circ.patron.edit.invalidate.fail" 
  i18n-text text="Failed to Invalidate Field"></eg-string>
<eg-string key="circ.patron.edit.grplink.success" 
  i18n-text text="Group Link Succeeded"></eg-string>
<eg-string key="circ.patron.edit.grplink.fail" 
  i18n-text text="Group Link Failed"></eg-string>
<eg-string key="circ.patron.edit.default_addr_type"
  i18n-text text="Mailing"></eg-string>

<eg-patron-secondary-groups [secondaryGroups]="secondaryGroups" #secondaryGroupsDialog>
</eg-patron-secondary-groups>
<eg-patron-barcodes #barcodesDialog [patron]="patron"></eg-patron-barcodes>

<eg-alert-dialog #addrAlert
  i18n-dialogTitle dialogTitle="Address Alert">
</eg-alert-dialog>

<eg-alert-dialog #addrRequiredAlert
  i18n-dialogTitle dialogTitle="Address Required"
  i18n-dialogBody dialogBody="An address is required during registration">
</eg-alert-dialog>

<eg-alert-dialog #xactCollisionAlert
  i18n-dialogTitle dialogTitle="Save Collision"
  i18n-dialogBody dialogBody="Patron record was modified by another user while you were 
  editing it. Your changes were not saved; please reapply them.">
</eg-alert-dialog>

<eg-hold-notify-update-dialog #holdNotifyUpdateDialog>
</eg-hold-notify-update-dialog>

<div class="row" *ngIf="!showForm">
  <div class="col-lg-6 offset-lg-3">
    <eg-progress-inline></eg-progress-inline>
  </div>
</div>

<ng-template #fieldExample let-args="args">
  <span class="ms-2" *ngIf="exampleText(args.cls, args.field)" i18n>
    Example: {{exampleText(args.cls, args.field)}}
  </span>
</ng-template>

<!-- IDL-generated field labels.  Override with args.overrideLabel -->
<ng-template #fieldLabel let-args="args">
  <div class="col-lg-3 field-label">
    <label class="form-label" for="{{getClass(args.cls)}}-{{args.field}}-input">
      {{getFieldLabel(getClass(args.cls), args.field, args.overrideLabel)}}
    </label>
    <eg-help-popover *ngIf="getFieldDoc(args.cls, args.field)"
      buttonClass="btn-sm text-info p-0 m-0"
      [placement]="'right'" [helpText]="getFieldDoc(args.cls, args.field)">
    </eg-help-popover>
  </div>
</ng-template>

<ng-template #userSettingLabel let-args="args">
  <div class="col-lg-3 field-label">
    <label class="form-label" for="cust-{{args.settingName}}-input">
      {{userSettingTypes[args.settingName].label()}}
    </label>
  </div>
</ng-template>

<!-- text / number / email inputs -->
<ng-template #fieldInput let-args="args">
  <div class="col-lg-3">
    <input 
      type="{{args.type || 'text'}}"
      class="form-control" 
      name="{{getClass(args.cls)}}-{{args.field}}-input"
      id="{{getClass(args.cls)}}-{{args.field}}-input"
      [ngModel]="objectFromPath(args.path, args.index)[args.field]()"
      (ngModelChange)="fieldValueChange(args.path, args.index, args.field, $event)"
      (change)="afterFieldChange(args.path, args.index, args.field)"
      [required]="fieldRequired(getClass(args.cls) + '.' + args.field)"
      [pattern]="fieldPattern(getClass(args.cls), args.field)"
      [disabled]="args.disabled"
    />
  </div>
</ng-template>

<!-- checkbox inputs -->
<ng-template #fieldCheckbox let-args="args">
  <div class="col-lg-3">
    <input 
      type="checkbox"
      class="form-check-input ms-0"
      name="{{getClass(args.cls)}}-{{args.field}}-input"
      id="{{getClass(args.cls)}}-{{args.field}}-input"
      [ngModel]="objectFromPath(args.path, args.index)[args.field]() === 't'"
      (ngModelChange)="fieldValueChange(args.path, args.index, args.field, $event)"
      (change)="afterFieldChange(args.path, args.index, args.field)"
      [pattern]="fieldPattern(getClass(args.cls), args.field)"
      [disabled]="disabled"
    />
  </div>
</ng-template>

<!-- combobox inputs -->
<ng-template #fieldCombobox let-args="args">
  <div class="col-lg-3">
    <eg-combobox [entries]="args.entries"
      name="{{getClass(args.cls)}}-{{args.field}}-input"
      domId="{{getClass(args.cls)}}-{{args.field}}-input"
      [selectedId]="getFieldValue(args.path, args.index, args.field)"
      (onChange)="
        fieldValueChange(args.path, args.index, args.field, $event ? $event.id : null); 
        afterFieldChange(args.path, args.index, args.field)"
      [required]="fieldRequired(getClass(args.cls) + '.' + args.field)"
      [disabled]="args.disabled">
    </eg-combobox>
  </div>
</ng-template>

<!-- like fieldRow below, but for user settings checkboxes -->
<ng-template #userSettingsCheckboxRow let-args="args">
  <div class="row pt-1 pb-1 mt-1">
    <ng-container *ngTemplateOutlet="userSettingLabel; context: {args: args}">
    </ng-container>
    <div class="col-lg-3">
      <input 
        type="checkbox"
        class="form-check-input ms-0"
        name="cust-{{args.settingName}}-input"
        id="cust-{{args.settingName}}-input"
        [ngModel]="userSettings[args.settingName]"
        (ngModelChange)="userSettingChange(args.settingName, $event)"
        [disabled]="args.disabled"
      />
    </div>
  </div>
</ng-template>

<ng-template #userSettingInput let-args="args">
  <div class="col-lg-3">
    <input 
      type="{{args.type || 'text'}}"
      class="form-control"
      name="cust-{{args.settingName}}-input"
      id="cust-{{args.settingName}}-input"
      [ngModel]="userSettings[args.settingName]"
      (ngModelChange)="userSettingChange(args.settingName, $event)"
      [required]="settingFieldRequired(args.settingName)"
      [disabled]="args.disabled"
    />
  </div>
</ng-template>


<ng-template #userSettingInputRow let-args="args">
  <div class="row pt-1 pb-1 mt-1">
    <ng-container *ngTemplateOutlet="userSettingLabel; context: {args: args}">
    </ng-container>
    <ng-container *ngTemplateOutlet="userSettingInput; context: {args: args}">
    </ng-container>
  </div>
</ng-template>


<!-- One row of label + field.  
    Used when a field requires no additional toggles. -->
<ng-template #fieldRow let-args="args">
  <div class="row pt-1 pb-1 mt-1" *ngIf="showField(getClass(args.cls) + '.' + args.field)">
    <ng-container *ngTemplateOutlet="fieldLabel; context: {args: args}">
    </ng-container>
    <ng-container *ngTemplateOutlet="args.template; context: {args: args}">
    </ng-container>
    <ng-container *ngTemplateOutlet="fieldExample; context: {args: args}">
    </ng-container>
  </div>
</ng-template>


<!-- The List O' Fields -->

<div class="mt-3 striped-rows-even patron-edit-container form-validated" *ngIf="patron && showForm">

  <div class="row pt-1 pb-1 mt-1" *ngIf="showField('ac.barcode')">
    <ng-container *ngTemplateOutlet="fieldLabel; 
      context: {args: {cls: 'ac', path: 'card', field: 'barcode'}}">
    </ng-container>
    <ng-container *ngTemplateOutlet="fieldInput; context: {args: 
      {cls: 'ac', path: 'card', field: 'barcode', disabled: !patron.card().isnew()}}">
    </ng-container>
    <div class="col-lg-6">
      <ng-container *ngIf="!patron.isnew()">
        <button [disabled]="replaceBarcodeUsed" class="btn btn-outline-dark" 
          (click)="replaceBarcode()" i18n>
          Replace Barcode
        </button>
        <button class="btn btn-outline-dark ms-2" (click)="barcodesDialog.open()" i18n>
          See All
        </button>
      </ng-container>
      <span *ngIf="dupeBarcode" class="text-danger fw-bold ms-2" i18n>
        Barcode is already in use
      </span>
    </div>
  </div>

  <div class="row pt-1 pb-1 mt-1" *ngIf="showField('au.usrname')">
    <ng-container *ngTemplateOutlet="fieldLabel; context: {args: {field: 'usrname'}}">
    </ng-container>
    <ng-container *ngTemplateOutlet="fieldInput; context: {args: {field: 'usrname'}}">
    </ng-container>
    <div class="col-lg-6">
      <span *ngIf="dupeUsername" class="text-danger fw-bold ms-2" i18n>
        Username is already in use
      </span>
    </div>
  </div>

  <div class="row pt-1 pb-1 mt-1">
    <ng-container *ngTemplateOutlet="fieldLabel; context: {args: {field: 'passwd'}}">
    </ng-container>
    <ng-container 
      *ngTemplateOutlet="fieldInput; context: {args: {field: 'passwd'}}">
    </ng-container>
    <div class="col-lg-3">
      <button class="btn btn-outline-dark" (click)="generatePassword()" i18n>
        Generate Password
      </button>
    </div>
  </div>

  <!-- Name / Preferred Name Tabs -->
  <ul ngbNav #nameNav="ngbNav" class="nav-tabs" [(activeId)]="nameTab" [keyboard]="true" [roles]="false" role="tablist">
    <li role="presentation" ngbNavItem="primary">
      <a role="tab" ngbNavLink i18n>Primary Name</a>
      <ng-template ngbNavContent>
        <ng-container *ngTemplateOutlet="fieldRow; context: 
          {args: {template: fieldInput, field: 'prefix'}}">
        </ng-container>
        <ng-container *ngTemplateOutlet="fieldRow; context: 
          {args: {template: fieldInput, field: 'first_given_name'}}">
        </ng-container>
        <ng-container *ngTemplateOutlet="fieldRow; context: 
          {args: {template: fieldInput, field: 'second_given_name'}}">
        </ng-container>
        <ng-container *ngTemplateOutlet="fieldRow; context: 
          {args: {template: fieldInput, field: 'family_name'}}">
        </ng-container>
        <ng-container *ngTemplateOutlet="fieldRow; context: 
          {args: {template: fieldInput, field: 'suffix'}}">
        </ng-container>
      </ng-template>
    </li>
    <li role="presentation" ngbNavItem="preferred">
      <a role="tab" ngbNavLink i18n>Preferred Name</a>
      <ng-template ngbNavContent>
        <ng-container *ngTemplateOutlet="fieldRow; context: 
          {args: {template: fieldInput, field: 'pref_prefix'}}">
        </ng-container>
        <ng-container *ngTemplateOutlet="fieldRow; context: 
          {args: {template: fieldInput, field: 'pref_first_given_name'}}">
        </ng-container>
        <ng-container *ngTemplateOutlet="fieldRow; context: 
          {args: {template: fieldInput, field: 'pref_second_given_name'}}">
        </ng-container>
        <ng-container *ngTemplateOutlet="fieldRow; context: 
          {args: {template: fieldInput, field: 'pref_family_name'}}">
        </ng-container>
        <ng-container *ngTemplateOutlet="fieldRow; context: 
          {args: {template: fieldInput, field: 'pref_suffix'}}">
        </ng-container>
      </ng-template>
    </li>
  </ul>

  <!-- Container div for name / pref name tabs -->
  <div class="border rounded p-2" [ngClass]="{
    'border-primary': nameTab === 'primary', 
    'border-success': nameTab === 'preferred'}">
    <div [ngbNavOutlet]="nameNav"></div>
  </div>

  <div class="row pt-1 pb-1 mt-1" *ngIf="showField('au.name_keywords')">
    <ng-container 
      *ngTemplateOutlet="fieldLabel; context: {args: {field: 'name_keywords'}}">
    </ng-container>
    <div class="col-lg-3">
      <textarea
        class="form-control" 
        name="au-name_keywords-input"
        id="au-name_keywords-input"
        [ngModel]="objectFromPath(null, null)['name_keywords']()"
        (ngModelChange)="fieldValueChange(null, null, 'name_keywords', $event)"
        (change)="afterFieldChange(null, args.index, 'name_keywords')"
        [required]="fieldRequired('au.name_keywords')"
        [pattern]="fieldPattern('au', 'name_keywords')">
      </textarea>
    </div>
  </div>

  <!-- example of overriding a field label -->
  <eg-string #holdAliasString i18n-text text="Holds Alias"></eg-string>
  <ng-container *ngTemplateOutlet="fieldRow; context: 
    {args: {template: fieldInput, field: 'alias', overrideLabel: holdAliasString.text}}">
  </ng-container>

  <div class="row pt-1 pb-1 mt-1" *ngIf="showField('au.dob')">
    <ng-container 
      *ngTemplateOutlet="fieldLabel; context: {args: {field: 'dob'}}">
    </ng-container>
    <div class="col-lg-3">
      <eg-date-select
        domId="au-dob-input"
        fieldName="au-dob-input"
        [noMaxWidth]="true"
        [initialYmd]="patron.dob()"
        (onChangeAsIso)="
          fieldValueChange(null, null, 'dob', $event); 
          afterFieldChange(null, null, 'dob')"
        [required]="fieldRequired('au.dob')">
      </eg-date-select>
    </div>
  </div>
  <ng-container *ngTemplateOutlet="fieldRow; context: 
    {args: {template: fieldCheckbox, field: 'juvenile'}}">
  </ng-container>
  <ng-container *ngTemplateOutlet="fieldRow; context: 
    {args: {template: fieldInput, field: 'guardian'}}">
  </ng-container>
  <ng-container *ngTemplateOutlet="fieldRow; context: 
    {args: {template: fieldCombobox, field: 'ident_type', entries: identTypes}}">
  </ng-container>
  <ng-container *ngTemplateOutlet="fieldRow; context: 
    {args: {template: fieldInput, field: 'ident_value'}}">
  </ng-container>
  <ng-container *ngTemplateOutlet="fieldRow; context: 
    {args: {template: fieldCombobox, field: 'ident_type2', entries: identTypes}}">
  </ng-container>
  <ng-container *ngTemplateOutlet="fieldRow; context: 
    {args: {template: fieldInput, field: 'ident_value2'}}">
  </ng-container>

  <div class="row pt-1 pb-1 mt-1">
    <ng-container 
      *ngTemplateOutlet="fieldLabel; context: {args: {field: 'email'}}">
    </ng-container>
    <ng-container 
      *ngTemplateOutlet="fieldInput; context: {args: {field: 'email', type: 'email'}}">
    </ng-container>
    <div class="col-lg-6">
      <ng-container *ngIf="patron.email()">
        <button class="btn btn-outline-dark" 
          (click)="sendTestMessage('au.email.test')" i18n>
          Send Test Email
        </button>
        <ng-container *ngIf="!patron.isnew()">
         <button class="btn btn-outline-dark ms-2" 
           (click)="invalidateField('email')" i18n>Invalidate</button>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <ng-container 
    *ngIf="userSettingTypes['circ.send_email_checkout_receipts'] && showField('au.email')">
    <ng-container *ngTemplateOutlet="userSettingsCheckboxRow; context: 
      {args: {settingName: 'circ.send_email_checkout_receipts'}}">
    </ng-container>
  </ng-container>

  <div class="row pt-1 pb-1 mt-1">
    <ng-container 
      *ngTemplateOutlet="fieldLabel; context: {args: {field: 'day_phone'}}">
    </ng-container>
    <ng-container 
      *ngTemplateOutlet="fieldInput; context: {args: {field: 'day_phone'}}">
    </ng-container>
    <div class="col-lg-6">
      <ng-container *ngIf="patron.day_phone() && !patron.isnew()">
        <button class="btn btn-outline-dark" 
          (click)="invalidateField('day_phone')" i18n>Invalidate</button>
      </ng-container>
      <ng-container *ngTemplateOutlet="fieldExample; context: {args: {field: 'day_phone'}}">
      </ng-container>
    </div>
  </div>

  <div class="row pt-1 pb-1 mt-1">
    <ng-container 
      *ngTemplateOutlet="fieldLabel; context: {args: {field: 'evening_phone'}}">
    </ng-container>
    <ng-container 
      *ngTemplateOutlet="fieldInput; context: {args: {field: 'evening_phone'}}">
    </ng-container>
    <div class="col-lg-6">
      <ng-container *ngIf="patron.evening_phone() && !patron.isnew()">
        <button class="btn btn-outline-dark" 
          (click)="invalidateField('evening_phone')" i18n>Invalidate</button>
      </ng-container>
      <ng-container *ngTemplateOutlet="fieldExample; context: {args: {field: 'evening_phone'}}">
      </ng-container>
    </div>
  </div>

  <div class="row pt-1 pb-1 mt-1">
    <ng-container 
      *ngTemplateOutlet="fieldLabel; context: {args: {field: 'other_phone'}}">
    </ng-container>
    <ng-container 
      *ngTemplateOutlet="fieldInput; context: {args: {field: 'other_phone'}}">
    </ng-container>
    <div class="col-lg-6">
      <ng-container *ngIf="patron.other_phone() && !patron.isnew()">
        <button class="btn btn-outline-dark" 
          (click)="invalidateField('other_phone')" i18n>Invalidate</button>
      </ng-container>
      <ng-container *ngTemplateOutlet="fieldExample; context: {args: {field: 'other_phone'}}">
      </ng-container>
    </div>
  </div>

  <div class="row pt-1 pb-1 mt-1" *ngIf="showField('au.home_ou')">
    <ng-container 
      *ngTemplateOutlet="fieldLabel; context: {args: {field: 'home_ou'}}">
    </ng-container>
    <div class="col-lg-3">
      <eg-org-select
        domId="au-home_ou-input"
        fieldName="au-home_ou-input"
        [initialOrgId]="patron.home_ou()"
        [disableOrgs]="cannotHaveUsersOrgs()"
        [required]="true"
        (onChange)="
          fieldValueChange(null, null, 'home_ou', $event ? $event.id() : null); 
          afterFieldChange(null, null, 'home_ou')">
      </eg-org-select>
    </div>
  </div>

  <div class="row pt-1 pb-1 mt-1" *ngIf="showField('au.profile')">
    <ng-container 
      *ngTemplateOutlet="fieldLabel; context: {args: {field: 'profile'}}">
    </ng-container>
    <div class="col-lg-3">
      <eg-profile-select #profileSelect 
        [useDisplayEntries]="true"
        [initialGroupId]="patron.profile()" 
        [required]="true"
        (profileChange)="
          fieldValueChange(null, null, 'profile', $event ? $event.id() : null); 
          afterFieldChange(null, null, 'profile')">
      </eg-profile-select>
    </div>
    <div class="col-lg-6">
      <button class="btn btn-outline-dark" 
        *ngIf="hasPerm.CREATE_USER_GROUP_LINK"
        (click)="openGroupsDialog()" i18n>Secondary Groups</button>
    </div>
  </div>

  <div class="row pt-1 pb-1 mt-1" *ngIf="showField('au.expire_date')">
    <ng-container 
      *ngTemplateOutlet="fieldLabel; context: {args: {field: 'expire_date'}}">
    </ng-container>
    <div class="col-lg-3">
      <eg-date-select
        domId="au-expire_date-input"
        fieldName="au-expire_date-input"
        [required]="fieldRequired('au.expire_date')"
        (onChangeAsIso)="
          fieldValueChange(null, null, 'expire_date', $event); 
          afterFieldChange(null, null, 'expire_date')"
        [(ngModel)]="expireDate">
      </eg-date-select>
    </div>
    <div class="col-lg-6">
      <button class="btn btn-outline-dark" (click)="setExpireDate()" i18n>
        Update Expire Date
      </button>
    </div>
  </div>
  <ng-container *ngTemplateOutlet="fieldRow; context: 
    {args: {template: fieldCombobox, field: 'net_access_level', entries: inetLevels}}">
  </ng-container>
  <ng-container *ngTemplateOutlet="fieldRow; context: 
    {args: {template: fieldCheckbox, field: 'active'}}">
  </ng-container>
  <ng-container *ngTemplateOutlet="fieldRow; context: 
    {args: {template: fieldCheckbox, field: 'barred'}}">
  </ng-container>
  <ng-container *ngTemplateOutlet="fieldRow; context: 
    {args: {template: fieldCheckbox, field: 'master_account'}}">
  </ng-container>
  <ng-container *ngTemplateOutlet="fieldRow; context: 
    {args: {template: fieldInput, field: 'claims_returned_count', 
      type: 'number', disabled: !hasPerm.UPDATE_PATRON_CLAIM_RETURN_COUNT}}">
  </ng-container>
  <ng-container *ngTemplateOutlet="fieldRow; context: 
    {args: {template: fieldInput, field: 'claims_never_checked_out_count', 
      type: 'number', disabled: !hasPerm.UPDATE_PATRON_CLAIM_NEVER_CHECKED_OUT_COUNT}}">
  </ng-container>

  <div class="alert alert-success pt-2 pb-2 mt-3 mb-3 d-flex">
    <div class="m-auto fw-bold" i18n>User Settings</div>
  </div>

  <ng-container *ngTemplateOutlet="userSettingInputRow; context: 
    {args: {settingName: 'opac.default_phone'}}">
  </ng-container>

  <div class="row pt-1 pb-1 mt-1" *ngIf="showField('au.home_ou')">
    <ng-container *ngTemplateOutlet="userSettingLabel; 
      context: {args: {settingName: 'opac.default_pickup_location'}}">
    </ng-container>
    <div class="col-lg-3">
      <eg-org-select
        domId="cust-opac.default_pickup_location-input"
        fieldName="cust-opac.default_pickup_location-input"
        [initialOrgId]="userSettings['opac.default_pickup_location']"
        [disableOrgs]="cannotHaveVolsOrgs()"
        (onChange)="userSettingChange(
          'opac.default_pickup_location', $event ? $event.id() : null)">
      </eg-org-select>
    </div>
  </div>

  <div class="row pt-1 pb-1 mt-1">
    <ng-container *ngTemplateOutlet="userSettingLabel; 
      context: {args: {settingName: 'opac.hold_notify'}}">
    </ng-container>
    <div class="col-lg-3">
      <div class="form-check form-check-inline me-2">
        <input class="form-check-input" type="checkbox" name="hold-notify-phone" 
          id="hold-notify-phone" [(ngModel)]="holdNotifyTypes.phone"
          (ngModelChange)="emitSaveState()"/>
        <label class="form-label form-check-label" for="hold-notify-phone" i18n>Phone</label>
      </div>
      <div class="form-check form-check-inline me-2">
        <input class="form-check-input" type="checkbox" name="hold-notify-email" 
          id="hold-notify-email" [(ngModel)]="holdNotifyTypes.email"
          (ngModelChange)="emitSaveState()"/>
        <label class="form-label form-check-label" for="hold-notify-email" i18n>Email</label>
      </div>
      <div class="form-check form-check-inline me-2" 
        *ngIf="context.settingsCache['sms.enable']">
        <input class="form-check-input" type="checkbox" name="hold-notify-sms" 
          id="hold-notify-sms" [(ngModel)]="holdNotifyTypes.sms"
          (ngModelChange)="emitSaveState()"/>
        <label class="form-label form-check-label" for="hold-notify-sms" i18n>SMS</label>
      </div>
    </div>
  </div>

  <ng-container *ngIf="context.settingsCache['sms.enable']">

    <div class="row pt-1 pb-1 mt-1">
      <ng-container *ngTemplateOutlet="userSettingLabel; 
        context: {args: {settingName: 'opac.default_sms_notify'}}">
      </ng-container>
      <ng-container *ngTemplateOutlet="userSettingInput;
        context: {args: {settingName: 'opac.default_sms_notify'}}">
      </ng-container>
      <div class="col-lg-6">
        <ng-container *ngIf="userSettings['opac.default_sms_notify'] && 
          userSettings['opac.default_sms_carrier']">
          <button class="btn btn-outline-dark" 
            (click)="sendTestMessage('au.sms_text.test')" i18n>
            Send Test Text
          </button>
        </ng-container>
      </div>
    </div>

    <div class="row pt-1 pb-1 mt-1">
      <ng-container *ngTemplateOutlet="userSettingLabel; 
        context: {args: {settingName: 'opac.default_sms_carrier'}}">
      </ng-container>
      <div class="col-lg-3">
        <eg-combobox [entries]="smsCarriers"
          name="cust-opac.default_sms_carrier-input"
          domId="cust-opac.default_sms_carrier-input"
          [selectedId]="userSettings['opac.default_sms_carrier']"
          [required]="settingFieldRequired('opac.default_sms_carrier')"
          (onChange)="userSettingChange(
            'opac.default_sms_carrier', $event ? $event.id : null)">
        </eg-combobox>
      </div>
    </div>
  </ng-container>

  <ng-container *ngFor="let set of optInSettingTypes | keyvalue">
    <ng-container *ngTemplateOutlet="userSettingsCheckboxRow;
      context: {args: {settingName: set.key}}">
    </ng-container>
  </ng-container>

  <ng-container *ngIf="context.settingsCache['circ.privacy_waiver']">
    <div class="row pt-1 pb-1 mt-1" 
      *ngFor="let waiver of patron.waiver_entries(); let index = index">
      <div class="col-lg-3">
        <span *ngIf="index === 0" i18n>Allow others to use my account</span>
      </div>
      <div class="col-lg-3">
        <input type="text" class="form-control" [ngModel]="waiver.name()"
          [disabled]="waiver.isdeleted()"
          (ngModelChange)="fieldValueChange('waiver_entries', index, 'name', $event)"
          (change)="afterFieldChange('waiver_entries', index, 'name')"
          i18n-placeholder placeholder="Enter Name..."/>
      </div>
      <div class="col-lg-6 d-flex">
        <div>
          <div class="form-inline">
            <input class="form-check-input" type="checkbox" 
              [disabled]="waiver.isdeleted()"
              id="waiver-holds-{{waiver.id()}}" [ngModel]="waiver.place_holds() === 't'"
              (ngModelChange)="fieldValueChange('waiver_entries', index, 'place_holds', $event)"
              (change)="afterFieldChange('waiver_entries', index, 'place_holds')"/>
            <label class="form-label form-check-label"
              for="waiver-holds-{{waiver.id()}}" i18n>Place Holds?</label>
          </div>
          <div class="form-inline">
            <input class="form-check-input" type="checkbox" 
              [disabled]="waiver.isdeleted()"
              id="waiver-history-{{waiver.id()}}" [ngModel]="waiver.view_history() === 't'"
              (ngModelChange)="fieldValueChange('waiver_entries', index, 'view_history', $event)"
              (change)="afterFieldChange('waiver_entries', index, 'view_history')"/>
            <label class="form-label form-check-label"
              for="waiver-history-{{waiver.id()}}" i18n>View Borrowing History?</label>
          </div>
        </div>
        <div class="ms-3">
          <div class="form-inline">
            <input class="form-check-input" type="checkbox" 
              [disabled]="waiver.isdeleted()"
              id="waiver-pickup-{{waiver.id()}}" [ngModel]="waiver.pickup_holds() === 't'"
              (ngModelChange)="fieldValueChange('waiver_entries', index, 'pickup_hold', $event)"
              (change)="afterFieldChange('waiver_entries', index, 'pickup_hold')"/>
            <label class="form-label form-check-label"
              for="waiver-pickup-{{waiver.id()}}" i18n>Pick Up Holds?</label>
          </div>
          <div class="form-inline">
            <input class="form-check-input" type="checkbox" 
              [disabled]="waiver.isdeleted()"
              id="waiver-checkout-{{waiver.id()}}" [ngModel]="waiver.checkout_items() === 't'"
              (ngModelChange)="fieldValueChange('waiver_entries', index, 'checkout_items', $event)"
              (change)="afterFieldChange('waiver_entries', index, 'checkout_items')"/>
            <label class="form-label form-check-label"
              for="waiver-checkout-{{waiver.id()}}" i18n>Check Out Items?</label>
          </div>
        </div>
        <div class="ms-3">
          <button class="btn btn-danger material-icon-button" 
            [ngClass]="{'invisible': waiver.isdeleted()}"
            (click)="removeWaiver(waiver)"
            i18n-title title="Remove Privacy Waiver">
            <span class="text-danger material-icons">delete</span>
          </button>
        </div>
        <div class="ms-2" *ngIf="index === patron.waiver_entries().length - 1">
          <button class="btn btn-success material-icon-button" 
          (click)="addWaiver()" i18n-title title="Add Privacy Waiver">
            <span class="text-success material-icons">add</span>
          </button>
        </div>
      </div>
    </div>
  </ng-container>

  <div class="alert alert-success pt-2 pb-2 mt-3 mb-3 d-flex">
    <div class="m-auto fw-bold" i18n>Addresses</div>
  </div>

  <ng-container *ngFor="let addr of patron.addresses(); let index = index">
    <div class="mb-2" *ngIf="!addr.isdeleted()">

      <div class="alert alert-info p-1">
        <div class="row">
          <div class="col-lg-3" i18n>Address #{{index + 1}}</div>
          <div class="col-lg-9">
            <div class="form-check form-check-inline me-2">
              <input class="form-check-input" type="checkbox" 
                name="addr-{{addr.id()}}-mailing" id="addr-{{addr.id()}}-mailing" 
                [ngModel]="patron.mailing_address() && addr.id() === patron.mailing_address().id()"
                (ngModelChange)="setAddrType('mailing', addr, $event)"/>
              <label class="form-label form-check-label" 
                for="addr-{{addr.id()}}-mailing" i18n>Mailing</label>
            </div>
            <div class="form-check form-check-inline me-2">
              <input class="form-check-input" type="checkbox" 
                name="addr-{{addr.id()}}-billing" id="addr-{{addr.id()}}-billing" 
                [ngModel]="patron.billing_address() && addr.id() === patron.billing_address().id()"
                (ngModelChange)="setAddrType('billing', addr, $event)"/>
              <label class="form-label form-check-label" 
                for="addr-{{addr.id()}}-billing" i18n>Physical</label>
            </div>
            <button class="btn btn-danger" (click)="deleteAddr(addr)" i18n>Delete</button>
          </div>
        </div>
      </div>
      <ng-container *ngTemplateOutlet="fieldRow; context: {args: {template: 
        fieldInput, field: 'address_type', cls: 'aua', path: 'addresses', index: index}}">
      </ng-container>
      <ng-container *ngTemplateOutlet="fieldRow; context: {args: {template: 
        fieldInput, field: 'post_code', cls: 'aua', path: 'addresses', index: index}}">
      </ng-container>
      <ng-container *ngTemplateOutlet="fieldRow; context: {args: {template: 
        fieldInput, field: 'street1', cls: 'aua', path: 'addresses', index: index}}">
      </ng-container>
      <ng-container *ngTemplateOutlet="fieldRow; context: {args: {template: 
        fieldInput, field: 'street2', cls: 'aua', path: 'addresses', index: index}}">
      </ng-container>
      <ng-container *ngTemplateOutlet="fieldRow; context: {args: {template: 
        fieldInput, field: 'city', cls: 'aua', path: 'addresses', index: index}}">
      </ng-container>
      <ng-container *ngTemplateOutlet="fieldRow; context: {args: {template: 
        fieldInput, field: 'county', cls: 'aua', path: 'addresses', index: index}}">
      </ng-container>
      <ng-container *ngTemplateOutlet="fieldRow; context: {args: {template: 
        fieldInput, field: 'state', cls: 'aua', path: 'addresses', index: index}}">
      </ng-container>
      <ng-container *ngTemplateOutlet="fieldRow; context: {args: {template: 
        fieldInput, field: 'country', cls: 'aua', path: 'addresses', index: index}}">
      </ng-container>
      <ng-container *ngTemplateOutlet="fieldRow; context: {args: {template: 
        fieldCheckbox, field: 'valid', cls: 'aua', path: 'addresses', index: index}}">
      </ng-container>
      <ng-container *ngTemplateOutlet="fieldRow; context: {args: {template: 
        fieldCheckbox, field: 'within_city_limits', cls: 'aua', path: 'addresses', index: index}}">
      </ng-container>
    </div>
  </ng-container>

  <button class="btn btn-success" (click)="newAddr()" i18n>New Address</button>

  <ng-container *ngIf="showField('stat_cats') && statCats.length > 0">
    <div class="alert alert-success pt-2 pb-2 mt-3 mb-3 d-flex">
      <div class="m-auto fw-bold" i18n>Statistical Categories</div>
    </div>

    <div class="row pt-1 pb-1 mt-1" *ngFor="let stat of statCats">
     <div class="col-lg-3 field-label">
      <label class="form-label" for="asc-{{stat.cat.id()}}-input">{{stat.cat.name()}}</label>
     </div>
     <div class="col-lg-3">
      <eg-combobox
        domId="asc-{{stat.cat.id()}}-input"
        name="asc-{{stat.cat.id()}}-input"
        [entries]="stat.entries"
        [required]="stat.cat.required() === 1"
        [allowFreeText]="stat.cat.allow_freetext() === 1"
        [(ngModel)]="userStatCats[stat.cat.id()]"
        (onChange)="userStatCatChange(stat.cat, $event)">
      </eg-combobox>
     </div>
    </div>
  </ng-container>


  <ng-container *ngIf="showField('surveys') && surveys.length > 0">
    <div class="alert alert-success pt-2 pb-2 mt-2 mb-2 d-flex">
      <div class="m-auto fw-bold" i18n>Surveys</div>
    </div>
    <div class="card pt-1 pb-1 mt-1" *ngFor="let survey of surveys">
      <div class="card-header">{{survey.name()}}</div>
      <div class="card-body">
        <div class="row pt-1 pb-1 mt-1" *ngFor="let question of survey.questions()">
          <div class="col-lg-3 field-label">
            <label class="form-label" for="asvq-{{question.id()}}-input">{{question.question()}}</label>
          </div>
          <div class="col-lg-3">
            <eg-combobox
              domId="asvq-{{question.id()}}-input"
              name="asvq-{{question.id()}}-input"
              [entries]="surveyQuestionAnswers(question)"
              (onChange)="applySurveyResponse(question, $event)">
            </eg-combobox>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

</div>

