
<ng-container *ngIf="!context.summary">
  <eg-staff-banner bannerText="Manage Patrons" i18n-bannerText>
  </eg-staff-banner>
</ng-container>

<eg-confirm-dialog #pendingChangesDialog
  i18n-dialogTitle dialogTitle="Unsaved Changes Confirmation" 
  i18n-dialogBoby  dialogBody="Unsaved changes will be lost.  Continue navigation?">
</eg-confirm-dialog>

<eg-confirm-dialog #purgeConfirm1
  i18n-dialogTitle dialogTitle="Completely Purge Patron Account?"
  i18n-dialogBody dialogBody="Completely OBLITERATE this patron 
    account, including bills, payments, bookbags, etc? This is IRREVERSIBLE.">
</eg-confirm-dialog>

<eg-confirm-dialog #purgeConfirm2
  i18n-dialogTitle dialogTitle="Completely Purge Patron Account?"
  i18n-dialogBody dialogBody="Last chance, are you sure you want to 
    completely delete this account?">
</eg-confirm-dialog>

<eg-confirm-dialog #purgeConfirmOverride
  i18n-dialogTitle dialogTitle="Completely Purge Patron Account?"
  i18n-dialogBody dialogBody="The account has open transactions 
    (circulations and/or unpaid bills). Purge anyway?">
</eg-confirm-dialog>

<eg-alert-dialog #purgeBadBarcode
  i18n-dialogTitle dialogTitle="Bad Barcode"
  i18n-dialogBody dialogBody="Could not retrieve a destination account 
    with the barcode provided. Aborting the purge...">
</eg-alert-dialog>

<eg-prompt-dialog #purgeStaffDialog
  i18n-dialogTitle dialogTitle="Completely Purge Patron Account?"
  i18n-dialogBody dialogBody="The account you are attempting to delete has 
    STAFF_LOGIN privileges. Please enter the barcode for a destination 
    account to receive miscellaneous staff artifacts (reports, etc.) from 
    the account to be deleted.">
</eg-prompt-dialog>

<ng-container *ngIf="context.summary">
  <eg-staff-banner i18n-bannerText bannerText="Patron: 
    {{patronService.namePart(context.summary.patron, 'family_name')}}, 
    {{patronService.namePart(context.summary.patron, 'first_given_name')}} 
    {{patronService.namePart(context.summary.patron, 'second_given_name')}}">
  </eg-staff-banner>
</ng-container>

<eg-circ-components></eg-circ-components>
<eg-worklog-strings-components></eg-worklog-strings-components>                

<div class="row">

  <ng-container *ngIf="showSummaryPane()">
    <div class="col-lg-3">
      <div class="sticky-top-with-nav bg-white">
        <ng-container *ngIf="context.summary">
          <eg-patron-summary [summary]="context.summary"></eg-patron-summary>
        </ng-container>
      </div>
    </div>
  </ng-container>

  <div [ngClass]="{'col-lg-9': showSummaryPane(), 'col-lg-12': !showSummaryPane()}">

    <div class="sticky-top-with-nav bg-white">
      <ul ngbNav #patronNav="ngbNav" class="nav-tabs" [keyboard]="true" [roles]="false" role="tablist"
        [activeId]="patronTab" (navChange)="beforeTabChange($event)">

        <ng-container *ngIf="patronTab !== 'search'">
          <li ngbDropdown ngbNavItem="toggle">
            <a href class="nav-link" (click)="toggleSummaryPane(); false"
              title="Toggle Summary Pane" i18n-title>
              <ng-container *ngIf="showSummaryPane()">
                <span class="material-icons">fullscreen</span>
              </ng-container>
              <ng-container *ngIf="!showSummaryPane()">
                <span class="material-icons">fullscreen_exit</span>
              </ng-container>
            </a>
          </li>
        </ng-container>

        <li role="presentation" ngbNavItem="checkout" [disabled]="!context.summary">
          <a role="tab" ngbNavLink (click)="navItemClick('checkout', $event)"
            routerLink="/staff/circ/patron/{{patronId}}/checkout" i18n>Check Out</a>
          <ng-template ngbNavContent>
            <div class="">
              <eg-patron-checkout></eg-patron-checkout> 
            </div>
          </ng-template>
        </li>

        <li role="presentation" ngbNavItem="items_out" [disabled]="!context.summary">
          <a role="tab" ngbNavLink (click)="navItemClick('items_out', $event)"
            routerLink="/staff/circ/patron/{{patronId}}/items_out" i18n>
            Items Out ({{counts('checkouts', 'total_out')}})
          </a>
          <ng-template ngbNavContent>
            <div class="">
              <eg-patron-items [patronId]="patronId"></eg-patron-items>
            </div>
          </ng-template>
        </li>

        <li role="presentation" ngbNavItem="holds" [disabled]="!context.summary">
          <a role="tab" ngbNavLink (click)="navItemClick('holds', $event)"
            routerLink="/staff/circ/patron/{{patronId}}/holds" i18n>
            Holds ({{counts('holds', 'ready')}} / {{counts('holds', 'total')}})
          </a>
          <ng-template ngbNavContent>
            <eg-patron-holds></eg-patron-holds>
          </ng-template>
        </li>

        <li role="presentation" ngbNavItem="bills" [disabled]="!context.summary">
          <a role="tab" ngbNavLink (click)="navItemClick('bills', $event)"
            routerLink="/staff/circ/patron/{{patronId}}/bills" i18n>
            Bills 
            <span [ngClass]="{'text-danger': counts('fines', 'balance_owed') > 0}">
              ({{counts('fines', 'balance_owed') | currency}})
            </span>
          </a>
          <ng-template ngbNavContent>
            <ng-container *ngIf="statementXact">
              <eg-patron-bill-statement [patronId]="patronId" [xactId]="statementXact">
              </eg-patron-bill-statement>
            </ng-container>
            <ng-container *ngIf="billingHistoryTab">
              <eg-patron-billing-history [patronId]="patronId" [tab]="billingHistoryTab">
              </eg-patron-billing-history>
            </ng-container>
            <ng-container *ngIf="!statementXact && !billingHistoryTab">
              <eg-patron-bills [patronId]="patronId"></eg-patron-bills>
            </ng-container>
          </ng-template>
        </li>

        <li role="presentation" ngbNavItem="messages" [disabled]="!context.summary">
          <a role="tab" ngbNavLink (click)="navItemClick('messages', $event)"
            routerLink="/staff/circ/patron/{{patronId}}/messages" i18n>Messages</a>
          <ng-template ngbNavContent>
            <div class="">
              <eg-patron-messages [patronId]="patronId"></eg-patron-messages>
            </div>
          </ng-template>
        </li>

        <li role="presentation" ngbNavItem="edit" [disabled]="!context.summary">
          <a role="tab" ngbNavLink (click)="navItemClick('edit', $event)"
            routerLink="/staff/circ/patron/{{patronId}}/edit" i18n>Edit</a>
          <ng-template ngbNavContent>
            <eg-patron-edit #patronEditor [patronId]="patronId" [toolbar]="editorToolbar">
            </eg-patron-edit> 
          </ng-template>
        </li>

        <li ngbDropdown ngbNavItem="other" [disabled]="!context.summary">
          <a [attr.href]="context.summary ? '' : null" 
            (click)="false" class="nav-link" ngbDropdownToggle>Other</a>
          <div ngbDropdownMenu>
            <a routerLink="/staff/circ/patron/{{patronId}}/alerts" 
              ngbDropdownItem i18n>Alerts and Messages</a>
            <a routerLink="/staff/circ/patron/{{patronId}}/notes" [disabled]="true"
              ngbDropdownItem i18n>Notes</a>
            <a routerLink="/staff/circ/patron/{{patronId}}/triggered_events" [disabled]="true"
              ngbDropdownItem i18n>Triggered Events / Notifications</a>
            <a routerLink="/staff/circ/patron/{{patronId}}/message_center" [disabled]="true"
              ngbDropdownItem i18n>Message Center</a>
            <a routerLink="/staff/circ/patron/{{patronId}}/stat_cats"
              ngbDropdownItem i18n>Statistical Categories</a>
            <a routerLink="/staff/circ/patron/{{patronId}}/surveys"
              ngbDropdownItem i18n>Surveys</a>
            <a routerLink="/staff/circ/patron/{{patronId}}/group"
              ngbDropdownItem i18n>Group Member Details</a>
            <a routerLink="/staff/circ/patron/{{patronId}}/perms"
              ngbDropdownItem i18n>User Permission Editor</a>
            <a routerLink="/staff/circ/patron/{{patronId}}/credentials"
              ngbDropdownItem i18n>Test Password</a>
            <a href="/eg/staff/acq/requests/user/{{patronId}}" 
              target="_top"
              ngbDropdownItem i18n>Acquisition Patron Requests</a>
            <a routerLink="/staff/booking/manage_reservations/by_patron/{{patronId}}"
              target="_top"
              ngbDropdownItem i18n>Booking: Manage Reservations</a>
            <a routerLink="/staff/booking/create_reservation/for_patron/{{patronId}}"
              target="_top"
              ngbDropdownItem i18n>Booking: Create Reservation</a>
            <a routerLink="/staff/booking/pickup/by_patron/{{patronId}}"
              target="_top"
              ngbDropdownItem i18n>Booking: Pick Up Reservations</a>
            <a routerLink="/staff/booking/return/by_patron/{{patronId}}"
              target="_top" ngbDropdownItem i18n></a>
            <a href (click)="purgeAccount(); false"
              [disabled]="disablePurge()"
              ngbDropdownItem i18n>Completely Purge Account</a>
          </div>
          <ng-template ngbNavContent>
            <ng-container [ngSwitch]="altTab">
              <div *ngSwitchCase="'alerts'">
                <eg-patron-alerts></eg-patron-alerts>
              </div>
              <div *ngSwitchCase="'credentials'">
                <eg-patron-test-password [patronId]="patronId">
                </eg-patron-test-password>
              </div>
              <div *ngSwitchCase="'surveys'">
                <eg-patron-survey-responses [patronId]="patronId">
                </eg-patron-survey-responses>
              </div>
              <div *ngSwitchCase="'stat_cats'">
                <eg-patron-statcats [patronId]="patronId">
                </eg-patron-statcats>
              </div>
              <div *ngSwitchCase="'group'">
                <eg-patron-group [patronId]="patronId">
                </eg-patron-group>
              </div>
              <div *ngSwitchCase="'perms'">
                <eg-patron-perms [patronId]="patronId">
                </eg-patron-perms>
              </div>
            </ng-container>
          </ng-template>
        </li>

        <li role="presentation" ngbNavItem="search" class="ms-auto">
          <a role="tab" ngbNavLink (click)="navItemClick('search', $event)"
            routerLink="/staff/circ/patron/search" i18n>Patron Search</a>
          <ng-template ngbNavContent>
            <div class="">
              <eg-patron-search
                [patronIds]="recentPatronIds()"
                [startWithSearch]="context.lastPatronSearch"
                (searchFired)="patronSearchFired($event)"
                (formCleared)="patronSearchCleared()"
                (selectionChange)="patronSelectionChange($event)"
                (patronsActivated)="patronsActivated($event)">
              </eg-patron-search> 
            </div>
          </ng-template>
        </li>
      </ul>

      <ng-container *ngIf="patronTab === 'edit'">
        <!-- put the editor toolbar up here in the sticky section -->
        <eg-patron-edit-toolbar #editorToolbar [patronId]="patronId">
        </eg-patron-edit-toolbar>
      </ng-container>

    </div><!-- end of sticky top -->

    <div *ngIf="!loading" class="pt-3">
      <div [ngbNavOutlet]="patronNav"></div>
    </div>
  </div>
</div>

