
<div class="col-lg-12 card tight-card mb-2 p-2 bg-light">
  <div class="card-body">
    <div class="row">
      <!-- Checkbox, jacket image, and title blob live in a flex row
           because there's no way to give them col-lg-* columns that
           don't waste a lot of space. -->
      <div class="col-lg-7 d-flex">
        <label  class="form-label checkbox">
          <span class="fw-bold fst-italic">
            {{index + 1 + searchContext.pager.offset}}.
          </span>
          <input class="ps-1" type='checkbox' [(ngModel)]="isRecordSelected"
            (change)="toggleBasketEntry()"/>
        </label>
        <div class="ps-2 record-jacket-div" >
          <ng-container *ngIf="hasMrConstituentRecords(summary)">
            <a routerLink="/staff/catalog/search"
              [queryParams]="appendFromMrParam(summary)">
              <img src="/opac/extras/ac/jacket/medium/r/{{summary.id}}" alt=""/>
            </a>
          </ng-container>
          <ng-container *ngIf="!hasMrConstituentRecords(summary)">
              <a routerLink="/staff/catalog/record/{{summary.id}}"
                [queryParams]="currentParams()">
                <img src="/opac/extras/ac/jacket/medium/r/{{summary.id}}" alt=""/>
              </a>
          </ng-container>
        </div>
        <!-- for call number browse display -->
        <ng-container *ngIf="callNumber">
          <div class="ps-2 fw-bold">
            {{callNumber.prefix().label()}}
            {{callNumber.label()}}
            {{callNumber.suffix().label()}}
            @ {{orgName(callNumber.owning_lib())}}
          </div>
        </ng-container>
        <div class="flex-1 ps-2">
          <div class="row">
            <div class="col-lg-12 fw-bold">
              <h3 class="bib-field-title">
              <ng-container *ngIf="hasMrConstituentRecords(summary)">
                  <a routerLink="/staff/catalog/search" class="bib-title-link"
                    [queryParams]="appendFromMrParam(summary)">
                    <eg-bib-display-field [summary]="summary" field="title"
                      [usePlaceholder]="true"></eg-bib-display-field>
                  </a>
              </ng-container>
              
              <ng-container *ngIf="!hasMrConstituentRecords(summary)">
                <a routerLink="/staff/catalog/record/{{summary.id}}"
                  [queryParams]="currentParams()" class="bib-title-link">
                  <eg-bib-display-field [summary]="summary" field="title"
                    [usePlaceholder]="true"></eg-bib-display-field>
                </a>
              </ng-container>
              
              <a routerLink="/staff/catalog/search" class="bib-author-link pt-2" [queryParams]="getAuthorSearchParams(summary)">
                <eg-bib-display-field [summary]="summary" field="author" [usePlaceholder]="true"></eg-bib-display-field>
              </a>
              </h3>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-lg-12">
              <ng-container *ngIf="summary.attributes.icon_format && summary.attributes.icon_format[0]">
                <ng-container *ngFor="let icon of summary.attributes.icon_format">
                <span class="pe-1">
                  <img class="pe-1"
                    src="/images/format_icons/icon_format/{{icon}}.png" alt=""/>
                  <span>{{iconFormatLabel(icon)}}</span>
                </span>
                </ng-container>
              </ng-container>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-lg-12">
              <ng-container *ngIf="summary.firstCallNumber">
                <div class="pb-1" i18n>Call Number:
                  {{summary.firstCallNumber.call_number_prefix_label}}
                  {{summary.firstCallNumber.call_number_label}}
                  {{summary.firstCallNumber.call_number_suffix_label}}
                </div>
              </ng-container>
              <ng-container *ngIf="summary.display.physical_description">
                <!-- [].concat() to avoid modifying the summary arrays -->
                <div class="pb-1" i18n>Phys. Desc.:
                  <eg-bib-display-field [summary]="summary"
                    field="physical_description" joiner=","></eg-bib-display-field>
                </div>
              </ng-container>
              <ng-container *ngIf="summary.display.edition">
                <div class="pb-1" i18n>Edition:
                  <eg-bib-display-field [summary]="summary"
                    field="edition" joiner=","></eg-bib-display-field>
                </div>
              </ng-container>
              <ng-container *ngIf="summary.display.publisher || summary.display.pubdate">
                <!-- note publisher typically includes pubdate -->
                <ng-container *ngIf="summary.display.publisher; else pubDate">
                  <div class="pb-1" i18n>Publisher:
                  <eg-bib-display-field [summary]="summary" field="publisher">
                  </eg-bib-display-field>
                  </div>
                </ng-container>
                <ng-template #pubDate>
                  <div class="pb-1" i18n>Pub Date:
                    <eg-bib-display-field [summary]="summary" field="pubdate">
                    </eg-bib-display-field>
                  </div>
                </ng-template>
              </ng-container>
              <ng-container *ngIf="summary.display.isbn">
                <div class="pb-1" i18n>ISBN:
                  <eg-bib-display-field [summary]="summary"
                    field="isbn" joiner=","></eg-bib-display-field>
                </div>
              </ng-container>
              <ng-container *ngIf="summary.display.upc">
                <div class="pb-1" i18n>UPC:
                  <eg-bib-display-field [summary]="summary"
                    field="upc" joiner=","></eg-bib-display-field>
                </div>
              </ng-container>
              <ng-container *ngIf="summary.display.issn">
                <div i18n>ISSN:
                  <eg-bib-display-field [summary]="summary"
                    field="issn" joiner=","></eg-bib-display-field>
                </div>
              </ng-container>
              <ng-container *ngIf="hasCourse">
                <div i18n>Associated Courses:
                  <span *ngFor="let course of courses; let isLast=last">
                    <a routerLink="/staff/admin/local/asset/course_list/{{course.id()}}">
                      {{course.name()}} ({{course.course_number()}})
                    </a>{{isLast ? '' : ', '}}
                  </span>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="row" [ngClass]="{'pt-2':copyIndex > 0}"
          *ngFor="let copyCount of getHoldingsSummaries(); let copyIdx = index"
		  [ngClass]="{
            'text-dark bg-warning' : copyCount.count === 0 && (copyCount.transcendant === 0 || !copyCount.transcendant),
			'bg-info' : copyCount.count === 0
            }">
          <div class="float-start text-left w-50">
            <span class="pe-1">
            {{copyCount.available}} / {{copyCount.count}} items
            </span>
          </div>
          <div class="float-start w-50">
            @ {{orgName(copyCount.org_unit)}}
          </div>
        </div>
      </div>
      <div class="col-lg-1">
        <div class="row">
          <div class="w-100">
            TCN: {{summary.record.tcn_value()}}
          </div>
        </div>
        <div class="row">
          <div class="w-100">
            Holds: {{summary.holdCount}}
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="row">
          <div class="col-lg-12">
            <div class="float-end small-text-1">
              Created {{summary.record.create_date() | date:'shortDate'}} by
              <!-- creator if fleshed after the initial data set is loaded -->
              <a *ngIf="summary.record.creator().usrname" target="_self"
                href="/eg/staff/circ/patron/{{summary.record.creator().id()}}/checkout">
                  {{summary.record.creator().usrname()}}
              </a>
              <!-- add a spacer pending data to reduce page shuffle -->
              <span *ngIf="!summary.record.creator().usrname"> ... </span>
            </div>
          </div>
        </div>
        <div class="row pt-2">
          <div class="col-lg-12">
            <div class="float-end small-text-1" i18n>
              Edited {{summary.record.edit_date() | date:'shortDate'}} by
              <a *ngIf="summary.record.editor().usrname" target="_self"
                href="/eg/staff/circ/patron/{{summary.record.editor().id()}}/checkout">
                  {{summary.record.editor().usrname()}}
              </a>
              <span *ngIf="!summary.record.editor().usrname"> ... </span>
            </div>
          </div>
        </div>
        <div class="row pt-2">
          <div class="col-lg-12">
            <div class="float-end">
              <ng-container *ngIf="summary.record.deleted() === 't'">
                <span class="text-danger" i18n>(Deleted)</span>
              </ng-container>
              <span>
                <button (click)="placeHold()" [disabled]="!summary.isHoldable"
                  [ngClass]="summary.isHoldable ? 'btn-success' : 'btn-secondary'"
                  class="btn btn-sm label-with-material-icon small-text-1">
                  <span class="material-icons">check</span>
                  <span i18n>Place Hold</span>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div><!-- col -->
    </div><!-- row -->
    <div class="row" *ngIf="searchContext.showResultExtras && summary.eResourceUrls.length">
      <div class="col-lg-12 mt-2">
        <div class="w-auto ms-2 me-2">
          <div class="row p-1 mt-1 mb-1 border-top" *ngFor="let url of summary.eResourceUrls">
            <div class="col-lg-2">
              <span class="fw-bold">
                <ng-container [ngSwitch]="url.ind2">
                  <ng-container *ngSwitchCase="'0'" i18n>Electronic Resource:</ng-container>
                  <ng-container *ngSwitchCase="'1'" i18n>Version of Resource:</ng-container>
                  <ng-container *ngSwitchCase="'2'" i18n>Related Resource:</ng-container>
                  <ng-container *ngSwitchDefault i18n>Electronic Resource</ng-container>
                  </ng-container>
               </span>
            </div>
            <div class="col-lg"><a href="{{url.href}}">{{url.label}}</a> {{url.note}}</div>
          </div>
        </div>
      </div>
    </div><!-- row -->
    <div class="row" *ngIf="searchContext.showResultExtras && summary.copies">
      <div class="col-lg-12 mt-2">
        <div class="w-auto ms-2 me-2">
          <ng-container *ngIf="summary.copies.length">
            <div class="row p-1 fw-bold border-top">
              <div class="col-lg-2" i18n>Library</div>
              <div class="col-lg-3" i18n>Shelving location</div>
              <div class="col-lg-3" i18n>Call number</div>
              <div class="col-lg-2" i18n>Status</div>
              <div class="col-lg-2" i18n>Due date</div>
            </div>
            <div class="row p-1 mt-1 mb-1 border-top" *ngFor="let copy of summary.copies">
              <div class="col-lg-2" i18n>{{copy.circ_lib_sn}}</div>
              <div class="col-lg-3" i18n>{{copy.copy_location}}</div>
              <div class="col-lg-3" i18n>
                {{copy.call_number_prefix_label}} 
                {{copy.call_number_label}}
                {{copy.call_number_suffix_label}}
              </div>
              <div class="col-lg-2" i18n>{{copy.copy_status}}</div>
              <div class="col-lg-2" *ngIf="copy.due_date">
                {{copy.due_date | date:'shortDate'}}
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="!summary.copies.length && !summary.eResourceUrls.length">
            <span class="fst-italic" i18n>No Items To Display</span>
          </ng-container>
        </div>
      </div>
    </div>
  </div><!-- card-body -->
</div><!-- card -->

