<eg-title i18n-prefix prefix="Edit Floating Group"></eg-title>
<eg-staff-banner bannerText="Edit Floating Group" i18n-bannerText>
</eg-staff-banner>

<div class="row">
    <div class="col text-end">
        <a class="btn btn-warning ms-3" routerLink="/staff/admin/server/config/floating_group">
            <span class="material-icons align-middle">keyboard_return</span>
            <span class="align-middle" i18n>Return to Floating Groups List</span>
        </a>
    </div>
</div>


<div class="col-lg-6 offset-lg-3">
    <eg-fm-record-editor displayMode="inline"
        idlClass="cfg" mode="update" recordId="{{this.currentId}}">
    </eg-fm-record-editor>
</div>

<eg-staff-banner bannerText="Edit Floating Group Members" i18n-bannerText>
</eg-staff-banner>
<eg-admin-page idlClass="cfgm" disableOrgFilter="true" 
    hideGridFields="id,floating_group"
    readonlyFields="floating_group"
    [dataSource]="dataSource" 
    [defaultNewRecord]="defaultNewRecord">
</eg-admin-page>
