
<eg-acq-cancel-dialog recordType="po" #cancelDialog></eg-acq-cancel-dialog>
<eg-acq-link-invoice-dialog #linkInvoiceDialog></eg-acq-link-invoice-dialog>
<eg-progress-dialog #progressDialog></eg-progress-dialog>
<eg-confirm-dialog #confirmFinalize
  i18n-dialogTitle i18n-dialogBody
  dialogTitle="Finalize Blanket Order?"
  dialogBody="This will disencumber all blanket charges and mark the PO as received.">
</eg-confirm-dialog>
<eg-confirm-dialog #confirmActivate
  i18n-dialogTitle i18n-dialogBody
  dialogTitle="Confirm Order Activation?"
  dialogBody="Please confirm that you want to activate the order; there are warnings.">
</eg-confirm-dialog>


<div *ngIf="po()" class="p-1 border border-secondary rounded">

  <div class="row">
    <div class="col-lg-9">

      <div class="row">
        <div class="col-lg-4 d-flex">
          <div class="flex-2" i18n>PO ID:</div>
          <div class="flex-4">{{poId}}</div>
        </div>
        <div class="col-lg-8 d-flex">
          <div class="flex-1" i18n>Status:</div>
          <div class="flex-6">
            <div class="w-50" *ngIf="canActivate === null">
              <eg-progress-inline></eg-progress-inline>
            </div>

            <span *ngIf="po().state() === 'on-order'" i18n>On Order</span>
            <span *ngIf="po().state() === 'received'" i18n>Received</span>
            <ng-container *ngIf="canActivate">
              <span *ngIf="!activationEvent" i18n>Pending / Activatable</span>
              <span *ngIf="activationEvent" i18n>
                Activation Error: {{activationEvent.textcode}} {{activationEvent.desc}}
              </span>
            </ng-container>

            <!-- canceled -->
            <ng-container *ngIf="po().cancel_reason()">
              <span class="text-danger" i18n>
                {{po().cancel_reason().label()}} =&gt; {{po().cancel_reason().description()}}
              </span>
            </ng-container>

            <!-- activation warnings -->
            <ng-container *ngIf='activationWarnings.length'>
              <span i18n> (Warning: </span>
              <ng-container *ngFor="let evt of activationWarnings">
                <ng-container 
                 *ngIf="evt.textcode === 'ACQ_FUND_EXCEEDS_WARN_PERCENT'">
                  <span class="bg-warning" i18n>
                    Fund exceeds warning percent: 
                    {{evt.payload.fund.code()}} ({{evt.payload.fund.year()}}).
                  </span>
                </ng-container>
              </ng-container>
              <span i18n>)</span>
            </ng-container>

            <!-- activation blocks -->
            <div class="text-danger" *ngFor="let evt of activationBlocks">
              <ng-container 
                *ngIf="evt.textcode === 'ACQ_FUND_EXCEEDS_STOP_PERCENT'; else noPrice">
                <span i18n>
                  Fund exceeds stop percent: 
                  {{evt.payload.fund.code()}} ({{evt.payload.fund.year()}}).
                </span>
              </ng-container>
              <ng-template #noPrice>
                <ng-container 
                  *ngIf="evt.textcode === 'ACQ_LINEITEM_NO_PRICE'; else noCopies">
                  <span i18n>One or more line items have no price.</span>
                </ng-container>
              </ng-template>
              <ng-template #noCopies>
                <ng-container 
                  *ngIf="evt.textcode === 'ACQ_LINEITEM_NO_COPIES'; else noOwner">
                  <span i18n>One or more line items have no items attached.</span>
                </ng-container>
              </ng-template>
              <ng-template #noOwner>
                <ng-container 
                  *ngIf="evt.textcode === 'ACQ_COPY_NO_OWNING_LIB'; else otherBlock">
                  <span i18n>One or more items have no owning lib.</span>
                </ng-container>
              </ng-template>
              <ng-template #otherBlock>
                <span i18n>{{evt.textcode}} : {{evt.desc}}</span>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 d-flex">
          <div class="flex-2" i18n>PO Name:</div>
          <div class="flex-4">
            <ng-container *ngIf="editPoName">
              <input id='ps-name-input' type="text" class="form-control"
                [ngModel]="newPoName" (ngModelChange)="newPoName = $event; checkDuplicatePoName()"
                (keyup.enter)="toggleNameEdit(true)" 
                (blur)="toggleNameEdit()"/>
            </ng-container>
            <ng-container *ngIf="!editPoName">
              <a (click)="toggleNameEdit()" href='javascript:;'
                class='fw-bold'>{{po().name()}}</a>
            </ng-container>
            <div *ngIf="dupeResults.dupeFound" class="alert alert-warning" i18n>
              This name is already in used by another PO: 
              <a target="_blank" routerLink="/staff/acq/po/{{dupeResults.dupePoId}}">View PO</a>
            </div>
          </div> 
        </div>
        <div class="col-lg-8 d-flex">
          <div class="flex-1" i18n>Activated:</div>
          <div class="flex-6">
            <span *ngIf="po().order_date()">{{po().order_date() | date:'short'}}</span>
            <span *ngIf="!po().order_date()" i18n>N/A</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 d-flex">
          <div class="flex-2" i18n>Provider:</div>
          <div class="flex-4">
            <a routerLink="/staff/acq/provider/{{po().provider().id()}}/details" target="_blank" i18n>
              {{po().provider().name()}} ({{po().provider().code()}})
            </a>
          </div>
        </div>
        <div class="col-lg-8 d-flex">
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 d-flex">
          <div class="flex-2" i18n>Line Items:</div>
          <div class="flex-4">{{po().lineitem_count()}}</div>
        </div>
        <div class="col-lg-8 d-flex">
          <div class="form-check form-check-inline" *ngIf="po().state() === 'new' || po().state() === 'pending'">
            <input class="ms-0 form-check-input" type="checkbox" (change)="setCanActivate()"
              id="zero-copy-cbox" [(ngModel)]="zeroCopyActivate"/>
            <label class="form-label form-check-label" for="zero-copy-cbox" i18n>
              Allow Activation with Zero-Item Line Items?
            </label>
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-3">
      <div class="row">
        <div class="col-lg-8" i18n>Estimated Amount:</div>
        <div class="col-lg-4">{{po().amount_estimated() | currency}}</div>
      </div>
      <div class="row">
        <div class="col-lg-8" i18n>Encumbered Amount:</div>
        <div class="col-lg-4">{{po().amount_encumbered() | currency}}</div>
      </div>
      <div class="row">
        <div class="col-lg-8" i18n>Spent Amount:</div>
        <div class="col-lg-4">{{po().amount_spent() | currency}}</div>
      </div>
      <div class="row">
        <div class="col-lg-8" i18n>Prepayment Required?</div>
        <div class="col-lg-4">
          <eg-bool [value]="po().prepayment_required()"></eg-bool>
        </div>
      </div>
    </div>
  </div>
  <hr class="p-0 m-0 mt-1"/>
  <div class="row mt-1">
    <div class="col-lg-12">
      <a class="" href="javascript:;" class="label-with-material-icon"
        (click)="showNotes=!showNotes">
        <span class="material-icons small me-1">event_note</span>
        <span>Notes ({{po().notes().length}})</span>
      </a>
      <ng-container *ngIf="po().order_date()"> <!-- show invoice actions only if order was activated -->
      <span class="ps-2 pe-2" i18n> | </span>
      <a [queryParams]="{f: 'acqpo:id', val1: poId}" class="label-with-material-icon"
        routerLink="/staff/acq/search/invoices">
          <span class="material-icons small me-1">list</span>
          <span i18n>Invoices ({{invoiceCount}})</span>
      </a>
      <span class="ps-2 pe-2" i18n> | </span>
      <a href="/eg/staff/acq/legacy/invoice/view?create=1&attach_po={{poId}}"
        class="label-with-material-icon">
        <span class="material-icons small me-1">receipt</span>
        <span i18n>Create Invoice</span>
      </a>
      <span class="ps-2 pe-2" i18n> | </span>
      <a (click)="linkInvoiceFromPo()" href="javascript:;"
        class="label-with-material-icon">
        <span class="material-icons small me-1">receipt</span>
        <span i18n>Link Invoice</span>
      </a>
      </ng-container> <!-- show invoice actions -->
      <span class="ps-2 pe-2" i18n> | </span>
      <a routerLink="./edi" i18n>EDI Messages ({{ediMessageCount}})</a>
      <span class="ps-2 pe-2" i18n> | </span>
      <a routerLink="./history" i18n>History</a>
      <span class="ps-2 pe-2" i18n> | </span>
      <a routerLink="./printer" class="label-with-material-icon">
        <span class="material-icons small me-1">print</span>
        <span i18n>Print</span>
      </a>
      <ng-container *ngIf="po().state() === 'on-order'">
        <span class="ps-2 pe-2" i18n> | </span>
        <button class="btn btn-sm btn-danger" (click)="cancelPo()" i18n>Cancel Order</button>
      </ng-container>
      <ng-container *ngIf="canActivate === true">
        <span class="ps-2 pe-2" i18n> | </span>
        <button class="btn btn-sm btn-primary" (click)="activatePo(true)" [disabled]="doingActivation" i18n>Activate Without Loading Items</button>
      </ng-container>
      <ng-container *ngIf="canActivate === true">
        <span class="ps-2 pe-2" i18n> | </span>
        <button class="btn btn-sm btn-success" (click)="activatePo()" [disabled]="doingActivation" i18n>Activate Order</button>
      </ng-container>
      <ng-container *ngIf="canFinalize">
        <span class="ps-2 pe-2" i18n> | </span>
        <a (click)="finalizePo()" href="javascript:;" class="label-with-material-icon">
          <span class="material-icons small me-1">check_circle</span>
          <span i18n>Finalize Blanket Order</span>
        </a>
      </ng-container>
      <ng-container *ngIf="showLegacyLinks">
        <span class="ps-2 pe-2" i18n> | </span>
        <a href="/eg/staff/acq/legacy/po/view/{{poId}}" target="_blank">
          Show PO in Legacy Interface
        </a>
      </ng-container>
    </div>
  </div>

  <div class="row" *ngIf="showNotes">
    <div class="col-lg-10 offset-lg-1 p-2 mt-2 shadow">
      <eg-po-notes [po]="po()" (closeRequested)="showNotes = false">
      </eg-po-notes>
    </div>
  </div>
</div>

