

<eg-string #successMsg
    text="Successfully Marked Item Missing" i18n-text></eg-string>
<eg-string #errorMsg 
    text="Failed To Mark Item Missing" i18n-text></eg-string>

<ng-template #dialogContent>
    <div class="modal-header">
      <h4 class="modal-title">
        <span i18n>Mark Item Missing</span>
      </h4>
      <button type="button" class="btn-close btn-close-white" 
        i18n-aria-label aria-label="Close" (click)="close()"></button>
    </div>
    <div class="modal-body">
      <div class="row d-flex justify-content-center">
          <h5>Mark {{copyIds.length}} Item(s) Missing?</h5>
      </div>
      <div class="row" *ngIf="numSucceeded > 0">
        <div class="col-lg-12" i18n>
          {{numSucceeded}} Items(s) Successfully Marked Missing
        </div>
      </div>
      <div class="row" *ngIf="numFailed > 0">
        <div class="col-lg-12">
          <div class="alert alert-warning">
            {{numFailed}} Items(s) Failed to be Marked Missing
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <ng-container *ngIf="!chargeResponse">
        <button type="button" class="btn btn-warning" 
          (click)="close()" i18n>Cancel</button>
        <button type="button" class="btn btn-success" 
          (click)="markItemsMissing()" i18n>Mark Missing</button>
      </ng-container>
    </div>
  </ng-template>
  
