<!-- Copy To Clipboard is only displayed when using a row-specific
     context menu as the entry point. -->
<button *ngIf="viaContextMenu" class="dropdown-item scrollable-menu"
  (click)="openCopyToClipboard()" tabindex="0">
  <div i18n>Copy to Clipboard</div>
  <div class="dropdown-divider"></div>
</button>

<eg-clipboard-dialog #clipboardDialog></eg-clipboard-dialog>

<ng-container 
  *ngFor="let action of gridContext.toolbarActions; let idx = index">
  <button class="dropdown-item scrollable-menu" *ngIf="!action.hidden"
    [disabled]="shouldDisable(action)"
    (click)="performAction(action)" tabindex="0">
    <ng-container *ngIf="action.isGroup">
      <span class="fw-bold fst-italic">{{action.label}}</span>
    </ng-container>
    <ng-container *ngIf="action.isSeparator">
      <div class="dropdown-divider"></div>
    </ng-container>
    <ng-container *ngIf="!action.isGroup && !action.isSeparator">
      <!-- grouped entries are left paddded for group indentation -->        
      <span [ngClass]="{'ms-2': action.group}">{{action.label}}</span>
    </ng-container>
  </button>
</ng-container>
