<eg-grid-toolbar-actions-editor #toolbarActionsEditor [gridContext]="gridContext">
</eg-grid-toolbar-actions-editor>

<div class="eg-grid-toolbar mb-2">

  <div class="btn-toolbar">
    <span class="fw-bold me-2" *ngIf="gridContext.toolbarLabel">
      {{gridContext.toolbarLabel}}
    </span>

    <!-- buttons -->
    <div class="btn-grp" *ngIf="gridContext.toolbarButtons.length || gridContext.isFilterable">
      <!-- special case for remove filters button -->
      <button *ngIf="gridContext.isFilterable"
        class="btn btn-outline-dark me-1" (click)="gridContext.removeFilters()"
        [disabled]="!gridContext.filtersSet() || gridContext.dataSource.requestingData" i18n>
        Remove Filters
      </button>
      <button *ngFor="let btn of gridContext.toolbarButtons"
        [disabled]="btn.disabled"
        class="btn btn-outline-dark me-1" (click)="performButtonAction(btn)">
        {{btn.label}}
      </button>
    </div>

    <!-- checkboxes -->
    <ng-container *ngFor="let cb of gridContext.toolbarCheckboxes; index as i">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="eg-grid-toolbar-cb{{i}}"
          [(ngModel)]="cb.isChecked"
          (click)="cb.onChange.emit($event.target.checked)"/>
        <label class="form-check-label" for="eg-grid-toolbar-cb{{i}}">{{cb.label}}</label>
      </div>
    </ng-container>
  

  </div>

  <!-- push everything else to the right -->
  <div class="flex-1"></div>

  <ng-container *ngIf="!gridContext.disableSelect">

  <div class="font-sm fst-italic d-flex flex-column-reverse me-2">
    {{gridContext.getSelectedRows().length}} selected
  </div>
  <div ngbDropdown class="me-1" placement="bottom-right">
    <button ngbDropdownToggle [disabled]="!gridContext.toolbarActions.length"
        class="btn btn-outline-dark no-dropdown-caret">
      <span title="Actions For Selected Rows" i18n-title
        class="material-icons mat-icon-in-button">playlist_add_check</span>
    </button>
    <div class="dropdown-menu" ngbDropdownMenu>
      <eg-grid-toolbar-actions-menu [gridContext]="gridContext">
      </eg-grid-toolbar-actions-menu>
    </div>
  </div>

  </ng-container><!-- if disableSelect -->

  <ng-container *ngIf="!gridContext.disablePaging">

  <button [disabled]="gridContext.pager.isFirstPage()" type="button"
    class="btn btn-outline-dark me-1" (click)="gridContext.pager.toFirst()">
    <span title="First Page" i18n-title
        class="material-icons mat-icon-in-button">first_page</span>
  </button>
  <button [disabled]="gridContext.pager.isFirstPage()" type="button"
    class="btn btn-outline-dark me-1" (click)="gridContext.pager.decrement()">
    <span title="Previous Page" i18n-title
        class="material-icons mat-icon-in-button">keyboard_arrow_left</span>
  </button>
  <button [disabled]="gridContext.pager.isLastPage()" type="button"
    class="btn btn-outline-dark me-1" (click)="gridContext.pager.increment()">
    <span title="Next Page" i18n-title
        class="material-icons mat-icon-in-button">keyboard_arrow_right</span>
  </button>
  <div ngbDropdown class="me-1" placement="bottom-right">
    <button ngbDropdownToggle class="btn btn-outline-dark text-button">
      <span title="Select Row Count" i18n-title i18n>
        Rows {{gridContext.pager.limit}}
      </span>
    </button>
    <div class="dropdown-menu" ngbDropdownMenu>
      <a class="dropdown-item"
        *ngFor="let count of [5, 10, 25, 50, 100]"
        (click)="gridContext.pager.setLimit(count)">
        <span class="ms-2">{{count}}</span>
      </a>
    </div>
  </div>
  
  </ng-container><!-- if disablePaging-->


  <button type="button"
    class="btn btn-outline-dark me-1"
    (click)="gridContext.overflowCells=!gridContext.overflowCells">
    <span *ngIf="!gridContext.overflowCells"
      title="Expand Cells Vertically" i18n-title
      class="material-icons mat-icon-in-button">expand_more</span>
    <span *ngIf="gridContext.overflowCells"
      title="Collapse Cells Vertically" i18n-title
      class="material-icons mat-icon-in-button">expand_less</span>
  </button>

  <eg-grid-column-config #columnConfDialog [gridContext]="gridContext">
  </eg-grid-column-config>
  <div ngbDropdown placement="bottom-right">
    <button ngbDropdownToggle class="btn btn-outline-dark no-dropdown-caret">
      <span title="Show Grid Options" i18n-title
        class="material-icons mat-icon-in-button">settings</span>
    </button>
    <div class="dropdown-menu scrollable-menu" ngbDropdownMenu>
      <a class="dropdown-item label-with-material-icon"
        (click)="columnConfDialog.open({size:'lg'})">
        <span class="material-icons">build</span>
        <span class="ms-2" i18n>Manage Columns</span>
      </a>
      <a class="dropdown-item label-with-material-icon"
        (click)="colWidthConfig.isVisible = !colWidthConfig.isVisible">
        <span class="material-icons">compare_arrows</span>
        <span class="ms-2" i18n>Manage Column Widths</span>
      </a>
      <button class="dropdown-item label-with-material-icon"
        [disabled]="gridContext.toolbarActions.length === 0"
        (click)="toolbarActionsEditor.open().subscribe()">
        <span class="material-icons">menu</span>
        <span class="ms-2" i18n>Manage Actions Menu</span>
      </button>
      <a class="dropdown-item label-with-material-icon"
        *ngIf="!disableSaveSettings"
        (click)="saveGridConfig()">
        <span class="material-icons">save</span>
        <span class="ms-2" i18n>Save Grid Settings</span>
      </a>
      <a class="dropdown-item label-with-material-icon"
        (click)="gridContext.columnSet.reset()">
        <span class="material-icons">restore</span>
        <span class="ms-2" i18n>Reset Columns</span>
      </a>
      <a class="dropdown-item label-with-material-icon"
        (click)="generateCsvExportUrl($event)"
        [download]="csvExportFileName"
        [href]="csvExportUrl">
        <span class="material-icons">cloud_download</span>
        <span class="ms-2" i18n>Download Full CSV</span>
      </a>
      <a class="dropdown-item label-with-material-icon" (click)="printHtml()">
        <span class="material-icons">print</span>
        <span class="ms-2" i18n>Print Full Grid</span>
      </a>

      <div class="dropdown-divider"></div>

      <a class="dropdown-item label-with-material-icon"
        (click)="toggleVisibility(col)"
        *ngFor="let col of gridContext.columnSet.sortForColPicker()">
        <span *ngIf="col.visible" class="badge badge-success">&#x2713;</span>
        <span *ngIf="!col.visible" class="badge badge-warning">&#x2717;</span>
        <span class="ms-2">{{col.label}}</span>
      </a>

    </div>
  </div>

<div>
