<!-- uses dropdown menu CSS for easy stying, but it's not a dropdown -->
<ng-template #contextMenu let-gridContext="gridContext">
  <eg-grid-toolbar-actions-menu [gridContext]="gridContext" [viaContextMenu]="true">
  </eg-grid-toolbar-actions-menu>
</ng-template>

<!--
  tabindex=1 so the grid body can capture keyboard events.
-->
<div class="eg-grid-body" tabindex="1" (keydown)="onGridKeyDown($event)">
  <div role="row" class="eg-grid-row eg-grid-body-row {{context.rowClassCallback(row)}}"
    [ngClass]="{'selected': context.rowSelector.contains(context.getRowIndex(row))}"
    *ngFor="let row of context.dataSource.getPageOfRows(context.pager); let idx = index">

    <ng-container *ngIf="!context.disableSelect">
      <div class="eg-grid-cell eg-grid-checkbox-cell eg-grid-cell-skinny">
        <input type='checkbox' 
          [ngModel]="context.rowSelector.indexes[context.getRowIndex(row)]"
          (ngModelChange)="context.rowSelector.toggle(context.getRowIndex(row))"
          i18n-aria-label="e.g. Row 13" attr.aria-label="Row {{context.pager.rowNumber(idx)}}"
          #rowContextMenu="ngbPopover"
          popoverTitle="Actions for Selected Rows" i18n-popoverTitle
          (contextmenu)="onRowContextClick($event, row, rowContextMenu)"
          [ngbPopover]="contextMenu"
          placement="right"
          triggers="manual">
      </div>
    </ng-container>
    <div class="eg-grid-cell eg-grid-number-cell eg-grid-cell-skinny-2">
      {{context.pager.rowNumber(idx)}}
    </div>
    <div *ngIf="context.rowFlairIsEnabled" class="eg-grid-cell eg-grid-flair-cell">
      <!-- using *ngIf allows us to assign the flair callback to a value,
            obviating the need for multiple calls of the same function -->
      <ng-container *ngIf="context.rowFlairCallback(row); let flair">
        <ng-container *ngIf="flair.icon">
          <!-- tooltip is disabled when no title is set -->
          <span class="material-icons"
            ngbTooltip="{{flair.title || ''}}" triggers="mouseenter:mouseleave">
            {{flair.icon}}
          </span>
        </ng-container>
      </ng-container>
    </div>
    <!-- contextMenu applied to cells instead of rows so the position
         of the popover is close to the mouse.  As of writing, no way
         to position the popover at the mouse -->
    <div role="gridcell" class="eg-grid-cell eg-grid-body-cell"
      [ngStyle]="{flex:col.flex}"
      [ngClass]="{'eg-grid-cell-overflow': context.overflowCells}"
      (dblclick)="onRowDblClick(row)"
      (click)="onRowClick($event, row, idx)"
      #rowContextMenu="ngbPopover"
      popoverTitle="Actions for Selected Rows" i18n-popoverTitle
      (contextmenu)="onRowContextClick($event, row, rowContextMenu)"
      [ngbPopover]="contextMenu"
      placement="bottom"
      triggers="manual"
      *ngFor="let col of context.columnSet.displayColumns()">

      <eg-grid-body-cell [context]="context" [row]="row" [column]="col">
      </eg-grid-body-cell>
    </div>
  </div>
</div>

