<ng-container *ngIf="readOnly">
  {{initialDate | formatValue:'timestamp'}}
</ng-container>
<ng-container *ngIf="!readOnly">
  <div class="input-group eg-date-select form-validated p-0" 
    [ngClass]="{'date-select-width': !noMaxWidth}">
    <input 
      class="form-control"
      type="text"
      ngbDatepicker
      #datePicker="ngbDatepicker"
      [attr.id]="domId.length ? domId : null"
      placeholder="yyyy-mm-dd"
      class="form-control"
      container="body"
      name="{{fieldName}}"
      [disabled]="disabled"
      [required]="required"
      (blur)="propagateTouch(); onDateEnter()"
      [(ngModel)]="current"
      (ngModelChange)="inputChanged($event)"
      (keyup.enter)="onDateEnter()"
      (dateSelect)="onDateSelect($event)"/>
    <div class="input-group-text p-0">
      <button class="btn px-2" [disabled]="disabled"
        (click)="datePicker.toggle()" type="button">
        <span title="Select Date" i18n-title class="material-icons">event</span>
      </button>
    </div>
  </div>
</ng-container>
