<!-- idlObject and fieldName applied programmatically -->
<eg-translate #translator></eg-translate>

<eg-string #successStr text="Update Succeeded" i18n-text></eg-string>
<eg-string #failStr text="Update Failed" i18n-text></eg-string>

<eg-confirm-dialog #confirmDel
  dialogTitle="Delete?" i18n-dialogTitle
  dialogBody="Delete {{recordLabel}}?" i18n-dialogBody>
</eg-confirm-dialog>

<ng-template #dialogContent>
  <div class="modal-header" *ngIf="!hideBanner">
    <h4 class="modal-title" i18n>Record Editor: {{recordLabel}}</h4>
    <ng-container *ngIf="isDialog()">
      <button type="button" class="btn-close btn-close-white" 
        i18n-aria-label aria-label="Close" (click)="closeEditor()"></button>
    </ng-container>
  </div>
  <div class="modal-body">
    <form #fmEditForm="ngForm" role="form"
          class="form-validated common-form striped-odd"
          [egDateFieldOrderList]="dateFieldOrderList">
      <ng-container *ngIf="!record">
        <!-- display a progress dialog while the editor
            fetches the needed data -->
        <eg-progress-inline></eg-progress-inline>
      </ng-container>
      <ng-container *ngIf="record">
      <div role="alert" class="alert alert-danger" *ngIf="fmEditForm.errors?.['datesOutOfOrder'] && (fmEditForm.touched || fmEditForm.dirty)">
        <span class="material-icons" aria-hidden="true">error</span>
        <span i18n>Dates must be in the correct order</span>
      </div>

      <div class="form-group row" *ngFor="let field of fields">
        <div class="col-lg-3">
          <label class="form-label" for="{{idPrefix}}-{{field.name}}">{{field.label}}</label>
          <eg-help-popover [placement]="'right'" *ngIf="field.helpText" helpText="{{field.helpTextValue}}"></eg-help-popover>
        </div>
        <div class="col-lg-9">

          <ng-container [ngSwitch]="inputType(field)">

            <ng-container *ngSwitchCase="'template'">
              <ng-container
                *ngTemplateOutlet="field.template; context:customTemplateFieldContext(field)">
              </ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="'readonly'">
              <span>{{record[field.name]()}}</span>
            </ng-container>

            <ng-container *ngSwitchCase="'readonly-money'">
              <span>{{record[field.name]() | currency}}</span>
            </ng-container>

            <ng-container *ngSwitchCase="'readonly-list'">
              <ng-container *ngIf="field.linkedValues && field.linkedValues[0]?.label">
                <span>{{field.linkedValues[0].label}}</span>
              </ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="'timestamp'">
              <eg-date-select
                domId="{{idPrefix}}-{{field.name}}"
                [readOnly]="field.readOnly"
                [ngModel]="record[field.name]()"
                name="{{field.name}}"
                (onChangeAsIso)="record[field.name]($event)"
                initialIso="{{record[field.name]()}}">
              </eg-date-select>
            </ng-container>

            <ng-container *ngSwitchCase="'timestamp-timepicker'">
              <eg-datetime-select
                [showTZ]="timezone"
                [timezone]="timezone"
                domId="{{idPrefix}}-{{field.name}}"
                (onChangeAsIso)="record[field.name]($event)"
                i18n-validatorError
                [readOnly]="field.readOnly"
                [ngModel]="record[field.name]()"
                name="{{field.name}}"
                initialIso="{{record[field.name]()}}">
              </eg-datetime-select>
            </ng-container>

            <ng-container *ngSwitchCase="'org_unit'">
              <eg-org-select
                placeholder="{{field.label}}..."
                i18n-placeholder
                domId="{{idPrefix}}-{{field.name}}"
                persistKey="{{field.persistKey}}"
                [limitPerms]="modePerms[mode]"
                [readOnly]="field.readOnly"
                [applyDefault]="field.orgDefaultAllowed"
                [applyOrgId]="record[field.name]()"
                (onChange)="record[field.name]($event)">
              </eg-org-select>
            </ng-container>

            <ng-container *ngSwitchCase="'money'">
              <input
                class="form-control"
                type="number" step="0.1"
                name="{{field.name}}"
                id="{{idPrefix}}-{{field.name}}"
                placeholder="{{field.label}}..."
                i18n-placeholder
                [readonly]="field.readOnly"
                [required]="field.isRequired()"
                [ngModel]="record[field.name]()"
                (ngModelChange)="record[field.name]($event)"/>
            </ng-container>

            <ng-container *ngSwitchCase="'int'">
              <input
                class="form-control"
                type="number"
                name="{{field.name}}"
                id="{{idPrefix}}-{{field.name}}"
                placeholder="{{field.label}}..."
                i18n-placeholder
                [required]="field.isRequired()"
                egMin="{{field.min}}"
                egMax="{{field.max}}"
                [ngModel]="record[field.name]()"
                (ngModelChange)="record[field.name]($event)"/>
            </ng-container>

            <ng-container *ngSwitchCase="'float'">
              <input
                class="form-control"
                type="number" step="0.1"
                name="{{field.name}}"
                id="{{idPrefix}}-{{field.name}}"
                placeholder="{{field.label}}..."
                i18n-placeholder
                [required]="field.isRequired()"
                [ngModel]="record[field.name]()"
                (ngModelChange)="record[field.name]($event)"/>
            </ng-container>

            <ng-container *ngSwitchCase="'text'">
              <input
                class="form-control"
                id="{{idPrefix}}-{{field.name}}" name="{{field.name}}"
                type="text" pattern="[\s\S]*\S[\s\S]*"
                placeholder="{{field.label}}..." i18n-placeholder
                [required]="field.isRequired()"
                [ngModel]="record[field.name]()"
                (ngModelChange)="record[field.name]($event)"/>
            </ng-container>

            <ng-container *ngSwitchCase="'bool'">
              <input
                class="form-check-input"
                type="checkbox"
                name="{{field.name}}"
                id="{{idPrefix}}-{{field.name}}"
                [disabled]="field.readOnly"
                [ngModel]="record[field.name]()"
                (ngModelChange)="record[field.name]($event)"/>
            </ng-container>

	    <ng-container *ngSwitchCase="'readonly-au'">
              <ng-container *ngIf="field.linkedValues">
                <a href="/eg/staff/circ/patron/{{field.linkedValues[0].id}}/checkout" target="_blank">{{field.linkedValues[0].label}}
                <span class="material-icons" i18n-title title="Open user record in new tab">open_in_new</span></a>
              </ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="'link'">
              <eg-combobox
                id="{{idPrefix}}-{{field.name}}" name="{{field.name}}"
                placeholder="{{field.label}}..." i18n-placeholder
                [required]="field.isRequired()"
                [idlClass]="field.class" [asyncSupportsEmptyTermClick]="true"
                [idlBaseQuery]="field.idlBaseQuery"
                [idlField]="field.selector"
                [selectedId]="record[field.name]()"
                (onChange)="record[field.name]($event ? $event.id : null)">
              </eg-combobox>
            </ng-container>

            <ng-container *ngSwitchCase="'list'">
              <eg-combobox
                domId="{{idPrefix}}-{{field.name}}" name="{{field.name}}"
                placeholder="{{field.label}}..." i18n-placeholder
                [required]="field.isRequired()"
                [entries]="field.linkedValues"
                [asyncDataSource]="field.linkedValuesSource"
                [selectedId]="record[field.name]()"
                (onChange)="record[field.name]($event ? $event.id : null)">
              </eg-combobox>
            </ng-container>
          </ng-container> <!-- switch -->
        </div>
        <div class="col-lg-1" *ngIf="field.i18n && !field.readOnly">
          <a (click)="openTranslator(field.name)"
            i18n-title title="Translate">
            <button class="btn btn-outline-info mat-icon-in-button">
              <span class="material-icons">translate</span>
            </button>
          </a>
        </div>
      </div>
      </ng-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn {{action.buttonCss}}"
      *ngFor="let action of actions" [disabled]="action.disabled"
      (click)="action.actionClick.emit({action: action.key, record: record})">
      {{action.label}}
    </button>
    <ng-container *ngIf="isDialog()">
      <button type="button" class="btn btn-success" *ngIf="mode === 'view'"
        (click)="closeEditor()" i18n>Close</button>
      <button type="button" class="btn btn-warning ms-2" *ngIf="mode !== 'view'"
        (click)="cancel()" i18n>Cancel</button>
    </ng-container>

    <ng-container *ngIf="showDelete && mode !== 'view'">
      <button type="button" class="btn btn-warning" (click)="remove()"
        [disabled]="record && record.isnew()" i18n>Delete</button>
    </ng-container>

    <button type="button" class="btn btn-info"
      [disabled]="fmEditForm.invalid" *ngIf="mode !== 'view'"
      (click)="save()" i18n>Save</button>
  </div>
</ng-template>

<ng-container *ngIf="!isDialog()">
  <!-- in "inline" mode, render the editor pane right here -->
  <ng-container *ngTemplateOutlet="dialogContent">
  </ng-container>
</ng-container>

