<ng-template #successStrTmpl i18n>{{recordLabel || idlClassDef.label}} Update Succeeded</ng-template>
<eg-string #successString [template]="successStrTmpl"></eg-string>

<ng-template #updateFailedStrTmpl i18n>Update of {{recordLabel || idlClassDef.label}} failed</ng-template>
<eg-string #updateFailedString [template]="updateFailedStrTmpl"></eg-string>

<ng-template #deleteFailedStrTmpl i18n>Delete of {{recordLabel || idlClassDef.label}} failed or was not allowed</ng-template>
<eg-string #deleteFailedString [template]="deleteFailedStrTmpl"></eg-string>

<ng-template #deleteSuccessStrTmpl i18n>{{recordLabel || idlClassDef.label}} Successfully Deleted</ng-template>
<eg-string #deleteSuccessString [template]="deleteSuccessStrTmpl"></eg-string>

<ng-template #undeleteFailedStrTmpl i18n>Undelete of {{idlClassDef.label}} failed or was not allowed</ng-template>
<eg-string #undeleteFailedString [template]="undeleteFailedStrTmpl"></eg-string>

<ng-template #undeleteSuccessStrTmpl i18n>{{idlClassDef.label}} Successfully undeleted</ng-template>
<eg-string #undeleteSuccessString [template]="undeleteSuccessStrTmpl"></eg-string>

<ng-template #createStrTmpl i18n>{{recordLabel || idlClassDef.label}} Successfully Created</ng-template>
<eg-string #createString [template]="createStrTmpl"></eg-string>

<ng-template #createErrStrTmpl i18n>Failed to create new {{recordLabel || idlClassDef.label}}</ng-template>
<eg-string #createErrString [template]="createErrStrTmpl"></eg-string>

<eg-confirm-dialog #deleteConfirmDialog
  i18n-dialogTitle
  dialogTitle="Delete Selected Rows"
  [dialogBodyTemplate]="deleteConfirmMsg">
</eg-confirm-dialog>
<ng-template #deleteConfirmMsg>
  <span *ngIf="!deleteConfirmation" i18n>Are you sure you want to delete the selected rows? This will also delete any data depending on the rows deleted.</span>
  <span *ngIf="deleteConfirmation">{{deleteConfirmation}}</span>
</ng-template>

<ng-container *ngIf="orgField || gridFilters">
  <div class="row">
    <div class="col-lg-6">
      <ng-container *ngIf="orgField">
        <eg-org-family-select
          [persistKey]="contextOrgSelectorPersistKey"
          [limitPerms]="viewPerms" 
          [selectedOrgId]="contextOrg.id()"
          [(ngModel)]="searchOrgs"
          (ngModelChange)="contextOrgChanged($event)">
        </eg-org-family-select>
      </ng-container>
    </div>
    <div class="col-lg-6 d-flex">
      <div class="flex-1"></div><!-- push right -->
      <ng-container *ngIf="gridFilters">
        <span i18n>Filters Applied: {{gridFilters | json}}</span>
        <a *ngIf="!hideClearFilters" class="ps-2 fst-italic"
          [attr.href]="clearGridFiltersUrl()" i18n>Clear Filters</a>
        &nbsp;
        <button class="btn btn-info label-with-material-icon"
          (click)="goBack()" [disabled]="hasNoHistory()">
          <span class="material-icons">keyboard_backspace</span>
          <span i18n>Return</span>
        </button>
      </ng-container>
    </div>
  </div>
  <hr/>
</ng-container>

<!-- idlObject and fieldName applied programmatically -->
<eg-translate #translator></eg-translate>

<ng-container *ngIf="helpTemplate">
  <ng-container *ngTemplateOutlet="helpTemplate"></ng-container>
</ng-container>

<ng-template #configFieldLink let-row="row" let-col="col">
  <a i18n-title title="Link To {{col.label}}"
    [attr.href]="configFieldLinkUrl(row, col)">{{configLinkLabel(row, col)}}</a>
</ng-template>

<eg-grid #grid idlClass="{{idlClass}}" [dataSource]="dataSource" hideFields="{{hideGridFields}}"
    [sortable]="true" persistKey="{{persistKey}}" autoGeneratedColumnOrder="{{fieldOrder}}"
    (onRowActivate)="showEditDialog($event)"
    [filterable]="true" [stickyHeader]="true">
  <eg-grid-toolbar-button [disabled]="!canCreate" 
    label="New {{recordLabel || idlClassDef.label}}" i18n-label (onClick)="createNew()">
  </eg-grid-toolbar-button>
  <eg-grid-toolbar-button [disabled]="translatableFields.length === 0"
    label="Apply Translations" i18n-label (onClick)="translate()">
  </eg-grid-toolbar-button>
  <eg-grid-toolbar-action label="Edit Selected" i18n-label
    (onClick)="editSelected($event)" *ngIf="!disableEdit">
  </eg-grid-toolbar-action>
  <eg-grid-toolbar-action label="Delete Selected" i18n-label (onClick)="deleteSelected($event)"
    [disableOnRows]="shouldDisableDelete" *ngIf="!disableDelete">
  </eg-grid-toolbar-action>
  <eg-grid-toolbar-action label="Undelete Selected" i18n-label (onClick)="undeleteSelected($event)"
    [disableOnRows]="shouldDisableUndelete" *ngIf="enableUndelete">
  </eg-grid-toolbar-action>
  <ng-container *ngFor="let cf of configFields">
    <eg-grid-column name="{{cf.name}}" [cellTemplate]="configFieldLink">
    </eg-grid-column>
  </ng-container>
  <ng-container *ngFor="let tf of templateFields">
    <eg-grid-column name="{{tf.name}}" [cellTemplate]="tf.template">
    </eg-grid-column>
  </ng-container>
</eg-grid>

<eg-fm-record-editor #editDialog idlClass="{{idlClass}}" 
    [recordLabel]="recordLabel"
    [fieldOptions]="fieldOptions"
    [fieldOrder]="fieldOrder"
    [defaultNewRecord]="defaultNewRecord"
    [preloadLinkedValues]="true"
    [orgDefaultAllowed]="orgDefaultAllowed"
    [readonlyFields]="readonlyFields">
</eg-fm-record-editor>


