
<ng-container *ngIf="!dataLoaded">
  <div class="row mt-5">
    <div class="offset-lg-3 col-lg-6">
      <eg-progress-inline></eg-progress-inline>
    </div>
  </div>
</ng-container>

<eg-authority-linking-dialog #authLinker [context]="context">
</eg-authority-linking-dialog>

<eg-phys-char-dialog #physCharDialog></eg-phys-char-dialog>

<ng-template #subfieldChunk let-field="field" let-subfield="subfield">

  <!-- move these around depending on whether we are stacking subfields -->

  <!-- SUBFIELD DECORATOR/DELIMITER -->
  <eg-marc-editable-content fieldText="‡" i18n-fieldText
    moreClasses="sf-delimiter border-end-0 bg-transparent p-1 pe-0">
  </eg-marc-editable-content>

  <!-- SUBFIELD CHARACTER -->
  <eg-marc-editable-content
    [context]="context" [field]="field" fieldType="sfc"
    [subfield]="subfield" ariaLabel="Subfield Code" i18n-ariaLabel
    moreClasses="sf-code border-start-0 p-1 ps-0">
  </eg-marc-editable-content>

  <!-- SUBFIELD VALUE -->
  <eg-marc-editable-content
    [context]="context" [field]="field" fieldType="sfv"
    [subfield]="subfield" ariaLabel="Subfield Value" i18n-ariaLabel
    moreClasses="p-1 pt-2">
  </eg-marc-editable-content>

</ng-template>

<ng-template #postSubfieldsChunk let-field="field">

  <ng-container *ngIf="context.recordType === 'biblio' && isControlledBibTag(field.tag)">
    <button class="btn btn-sm btn-outline-info link-button"
      i18n-title title="Create authority link"
      (click)="openLinkerDialog(field)">
      <span class="material-icons">link</span>
    </button>
  </ng-container>

  <ng-container *ngIf="field.authChecked">
    <span class="ps-2 pt-2">
      <span *ngIf="field.authValid"
        title="Authority Validation Succeeded" i18n-title
        class="material-icons label-with-material-icon text-success">
        check_circle_outline
      </span>
      <span *ngIf="!field.authValid"
        title="Authority Validation Failed" i18n-title
        class="material-icons label-with-material-icon text-danger">
        error_outline
      </span>
    </span>
  </ng-container>
</ng-template>

<ng-container *ngIf="dataLoaded">
  <div class="mt-3 font-monospace"
    (contextmenu)="$event.preventDefault()">
    <div class="row pb-2 mb-2 border-bottom border-muted">
      <div class="col-lg-9 fixed-fields-container">
        <eg-fixed-fields-editor [context]="context"></eg-fixed-fields-editor>
      </div>
      <div class="col-lg-3">
        <div><button class="btn btn-outline-dark"
          (click)="showHelp = !showHelp" i18n>Help</button></div>
        <ng-container *ngIf="context.recordType === 'biblio'">
          <div class="mt-2"><button class="btn btn-outline-dark"
            (click)="validate()" i18n>Validate</button></div>
        </ng-container>
        <div class="mt-2">
          <button type="button" class="btn btn-outline-info"
            [disabled]="undoCount() < 1" (click)="undo()">
            Undo <span class="badge rounded-pill text-light bg-info p-1">{{undoCount()}}</span>
          </button>
          <button type="button" class="btn btn-outline-info ms-2"
            [disabled]="redoCount() < 1" (click)="redo()">
            Redo <span class="badge rounded-pill text-light bg-info p-1">{{redoCount()}}</span>
          </button>
        </div>
        <div class="mt-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox"
              (change)="stackSubfieldsChange()"
              [(ngModel)]="stackSubfields" id="stack-subfields-{{randId}}">
            <label class="form-label form-check-label" for="stack-subfields-{{randId}}">
              Stack Subfields
            </label>
          </div>
        </div>
      </div>
      <div class="col-lg-1">
      </div>
    </div>
    <div *ngIf="showHelp" class="row m-2">
      <div class="col-lg-4">
        <ul>
          <li>Undo: CTRL-z</li>
          <li>Redo: CTRL-y</li>
          <li>Add Row: CTRL+Enter</li>
          <li>Insert Row: CTRL+Shift+Enter</li>
        </ul>
      </div>
      <div class="col-lg-4">
        <ul>
         <li>Copy Current Row Above: CTRL+Up</li>
         <li>Copy Current Row Below: CTRL+Down</li>
         <li>Add Subfield: CTRL+D or CTRL+I</li>
         <li>Remove Row: CTRL+Del</li>
        </ul>
      </div>
      <div class="col-lg-4">
        <ul>
         <li>Remove Subfield: Shift+Del</li>
         <li>Create/Replace 006: Shift+F6</li>
         <li>Create/Replace 007: Shift+F7</li>
         <li>Create/Replace 008: Shift+F8</li>
        </ul>
      </div>
    </div>

    <!-- LEADER -->
    <div class="row row-cols-auto gx-0 pt-0 pb-0 ps-3">
      <eg-marc-editable-content
        [context]="context" fieldText="LDR" i18n-fieldText moreClasses="p-1">
      </eg-marc-editable-content>

      <eg-marc-editable-content
        [context]="context" fieldType="ldr"
        ariaLabel="Leader" i18n-ariaLabel moreClasses="p-1 pe-2">
      </eg-marc-editable-content>
    </div>

    <!-- CONTROL FIELDS -->
    <div class="row row-cols-auto gx-0 pt-0 pb-0 ps-3"
      *ngFor="let field of controlFields()">

      <eg-marc-editable-content
        [context]="context" [field]="field" fieldType="tag"
        ariaLabel="Control Field Tag" i18n-ariaLabel moreClasses="p-1">
      </eg-marc-editable-content>

      <eg-marc-editable-content
        [context]="context" [field]="field" fieldType="cfld"
        ariaLabel="Control Field Content" i18n-ariaLabel moreClasses="p-1">
      </eg-marc-editable-content>

      <ng-container *ngIf="field.tag === '007'">
         <button class="btn btn-sm btn-outline-info link-button"
          i18n-title title="Open physical characteristics wizard"
          (click)="openPhysCharDialog(field)">
          <span class="material-icons">launch</span>
        </button>
      </ng-container>
    </div>

    <!-- data fields -->
    <ng-container *ngFor="let field of dataFields()">

      <div class="row row-cols-auto gx-0 pt-0 pb-0 ps-3">

        <!-- TAG -->
        <eg-marc-editable-content
          [context]="context" [field]="field" fieldType="tag"
          ariaLabel="Data Field Tag" i18n-ariaLabel moreClasses="p-1">
        </eg-marc-editable-content>

        <!-- INDICATOR 1 -->
        <eg-marc-editable-content
          [context]="context" [field]="field" fieldType="ind1"
          ariaLabel="Data Field Indicator 1" i18n-ariaLabel moreClasses="p-1">
        </eg-marc-editable-content>

        <!-- INDICATOR 2 -->
        <eg-marc-editable-content
          [context]="context" [field]="field" fieldType="ind2"
          ariaLabel="Data Field Indicator 2" i18n-ariaLabel moreClasses="p-1">
        </eg-marc-editable-content>

        <!-- when not stacking subfields, render them inline -->
        <ng-container *ngIf="!stackSubfields">
          <ng-container *ngFor="let subfield of field.subfields; let last = last">
            <ng-container
              *ngTemplateOutlet="subfieldChunk;context:{field:field,subfield:subfield}">
            </ng-container>
            <ng-container *ngIf="last">
              <ng-container
                *ngTemplateOutlet="postSubfieldsChunk;context:{field:field}">
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>

      </div>

      <!-- when stacking subfields, each subfield gets its own row
        preceeded by a placeholder for the tag as a way to 'tab' right -->
      <ng-container *ngIf="stackSubfields">
        <div class="form-inline" *ngFor="let subfield of field.subfields">
          <eg-marc-editable-content fieldText="   " moreClasses="p-1 invisible">
          </eg-marc-editable-content>
          <ng-container
            *ngTemplateOutlet="subfieldChunk;context:{field:field,subfield:subfield}">
          </ng-container>
        </div>
      </ng-container>
    </ng-container>

  </div>
</ng-container>

